.columnas .form-group .campos {
  *zoom: 1; }
  .columnas .form-group .campos:before, .columnas .form-group .campos:after {
    content: " ";
    display: table; }
  .columnas .form-group .campos:after {
    clear: both; }

/* .container-with-floated-children {
 	@extend %clearfix;
} */
/*
input,  
textarea {  
    @include input-placeholder {
        color: $grey;
    }
}
*/
/*@mixin scale($args) {
    -ms-transform: scale($args);
    -webkit-transform: scale($args);
    transform: scale($args);
}*/
/* EJEMPLO:
.sidebar {
	width: 60%;
	float: left;
	margin: 0 2% 0 0;
	@include bp-small {
		width: 100%;
		float: none;
		margin: 0;
	}
}
*/
/*
@include keyframes(slide-down) {
	0% { opacity: 1; }
	90% { opacity: 0; }
}
.element {
	width: 100px;
	height: 100px;
	background: black;
	@include animation('slide-down 5s 3');
}
*/
/* EJEMPLO:
a {
  color: gray;
  @include transition(color .3s ease);
  &:hover {
    color: black;
  }
}
transition: <property> || <duration> || <timing-function> || <delay> [, ...];

Note that the duration must come before the delay if the latter is specified. Individual transitions combined in shorthand declarations:

-webkit-transition: height 0.3s ease-out, opacity 0.3s ease 0.5s;
-moz-transition: height 0.3s ease-out, opacity 0.3s ease 0.5s;
-ms-transition: height 0.3s ease-out, opacity 0.3s ease 0.5s;
-o-transition: height 0.3s ease-out, opacity 0.3s ease 0.5s;
transition: height 0.3s ease-out, opacity 0.3s ease 0.5s;
*/
#grupo_mappings_page .columnas {
  padding-right: 15px; }
  #grupo_mappings_page .columnas label {
    display: block;
    cursor: pointer;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    margin: 0;
    font-weight: normal;
    color: #555; }
    #grupo_mappings_page .columnas label input {
      float: right; }
    #grupo_mappings_page .columnas label.sel {
      background-color: #ddd;
      font-weight: bold;
      color: #000; }

#grupo_mappings_page .lista-mappeada .elem .card-box {
  padding-bottom: 0; }
  #grupo_mappings_page .lista-mappeada .elem .card-box .form-group .campo {
    font-weight: bold;
    padding: 0 0 5px;
    text-transform: uppercase; }
  #grupo_mappings_page .lista-mappeada .elem .card-box .form-group .inputs .form-control {
    margin-bottom: 10px; }

#grupo_mappings_page .lista-mappeada .no-hay {
  display: none; }

.form-group .max-txt {
  display: inline-block;
  font-size: 0.85em;
  padding: 2px 10px;
  background-color: #888;
  color: #fff;
  margin-top: 5px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box; }
  .form-group .max-txt.red {
    background-color: red; }

/* SNIPPET QUE USO PARA MOSTRAR IMG SLIDERS EN CARDS (sacado de our team) */
.lista-slides .slide-img {
  width: 100%;
  height: calc(30vw / 2);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-color: #2d353d; }

/* FORMS */
.form-group.submit {
  padding: 25px 0; }

/* Img upload basico */
.form-group.img-file img {
  display: block;
  float: left;
  margin-right: 20px; }

/* Ejemmplo:
<div class="form-group img-file clearfix">
    <?php if($edit){ ?>
        <img src="<?=$slide->img;?>" />
    <?php } ?>
    <label>Imagen (JPG o PNG)</label>
    <input class="p-t-10" type="file" name="img" />
</div>
*/
/* CLEARFIX VERGON */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.align-center {
  text-align: center; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.pad-5 {
  padding: 5px; }

.pad-15 {
  padding: 15px; }

.pad-20 {
  padding: 20px; }

.pad-30 {
  padding: 30px; }

/* Estilos para preview de imagenes de file input (tienen que tener un formato en particular) */
.img-preview {
  margin-top: 10px; }
  .img-preview label {
    margin-bottom: 12px; }
  .img-preview .cont .img {
    display: block;
    border: 1px solid #ccc;
    float: left;
    margin-right: 15px;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-color: #e6e6e6;
    cursor: pointer; }
    .img-preview .cont .img:hover {
      background-color: #eee; }
  .img-preview .cont input {
    position: relative;
    top: 18px; }

/* EJEMPLO: 
<div class="form-group img-preview">
    <span class="img" style="<?=$thumb_img_bg;?>"></span>
    <div class="info">
        <label>Imagen principal (~ 1200 x 800 px)</label>
        <input type="file" name="img_thumb">
        <input type="hidden" class="hid-orientation" name="img_thumb_orientation" value="0">
    </div>
    <div class="clearfix"></div>
</div>
*/
/* MIS TABLAS SORTABLE */
table.heySort tbody td {
  cursor: move;
  height: 62px; }

div.heySort .sortelem {
  cursor: move;
  display: inline-block;
  width: 520px;
  height: 450px;
  margin-right: 10px; }

/* AJUSTES DROPZONE */
.galeria-cont {
  position: relative; }

.dropzone .dz-preview.dz-image-preview {
  /*background-color: #323b44;*/
  background: transparent; }

.galeria-cont .submit-cont {
  padding: 20px 0 0; }

.galeria-cont .submit-cont .btn {
  margin: 0; }

.galeria-progress {
  margin: 10px 0 0;
  opacity: 0; }

.galeria-actual {
  font-size: 0; }

.galeria-actual .img {
  display: inline-block;
  font-size: 14px;
  margin: 0 10px 20px;
  position: relative; }

.galeria-actual .img .fancybox {
  display: block;
  margin: 0 0 5px;
  border-radius: 8px;
  overflow: hidden; }

.galeria-actual .img .borrar {
  display: block;
  text-align: center; }

/* PAGINAS DE CONTACTO */
.tabla-contactos a {
  color: #98a6ad; }

.tabla-contactos .unread a {
  font-weight: 600;
  color: rgba(238, 238, 238, 0.7); }

.member-card .slide-img {
  display: block; }

.checkboxes-list ul {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.03);
  padding: 10px 15px;
  max-width: 870px; }

.checkboxes-list ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
  position: relative;
  /*white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;*/ }

.checkboxes-list ul li input[type=checkbox] {
  position: relative;
  top: 1px;
  margin-right: 5px; }

/* Tablas de listas */
a.table-thumb {
  display: inline-block;
  height: 44px;
  width: auto;
  position: relative; }

a.table-thumb img {
  height: 100%; }

/* Estilos mios (ajustes) para croppie */
.croppie-seleccionar-imagen {
  padding: 10px 0; }

.croppie-seleccionar-imagen img {
  max-width: 160px;
  max-height: 80px;
  height: 80px;
  height: auto;
  margin-right: 20px;
  cursor: pointer; }

.croppie-area,
.upload-demo .croppie-area,
.upload-demo #upload-demo,
.upload-demo .upload-result,
.upload-demo.ready .upload-msg {
  display: none; }

.upload-demo.ready .croppie-area {
  display: block; }

.upload-demo.ready .upload-result {
  display: inline-block; }

.upload-msg {
  text-align: center;
  padding: 50px;
  font-size: 22px;
  color: #aaa;
  width: 260px;
  margin: 50px auto;
  border: 1px solid #aaa; }

/* Esto es para convertir un input file a un boton bonito */
.file-btn {
  position: relative; }

.file-btn input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; }

input[type="file"] {
  cursor: pointer; }

.lista-albums .album .img {
  text-align: center;
  background-color: #f0f0f0;
  width: 100%;
  position: relative;
  height: 175px;
  display: block; }

.lista-albums .album .img img {
  max-width: 100%;
  max-height: 100%; }

.lista-albums .album .info {
  padding: 15px 0 0; }

.lista-albums .album .titulo {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 5px; }

.lista-albums .album .cantidad-fotos {
  margin-bottom: 5px;
  font-style: italic; }

.lista-albums .album .descripcion {
  font-size: 0.9em;
  color: #999; }

.lista-albums .album .ops {
  text-align: right; }

.lista-albums .album .ops a {
  margin-left: 20px; }

.lista-fotos {
  font-size: 0;
  padding: 0; }

.lista-fotos li {
  display: inline-block;
  margin: 0 10px 10px 0;
  position: relative;
  width: 160px; }

.lista-fotos li .cerrar {
  display: none;
  font-size: 18px;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px 7px;
  z-index: 10;
  background-color: #dd6b55;
  cursor: pointer;
  opacity: 0.9; }

.lista-fotos li .cerrar:hover {
  opacity: 1; }

.lista-fotos li:hover .cerrar {
  display: block; }

.lista-fotos a {
  display: block;
  cursor: zoom-in; }

.lista-fotos a img {
  display: block;
  width: 160px;
  height: 160px; }

.lista-fotos .form-group {
  padding: 10px 0;
  position: relative; }

.lista-fotos .form-group input {
  width: 100%;
  padding: 3px 5px;
  height: 27px;
  letter-spacing: -0.5px;
  font-size: 13px;
  border-color: #ccc; }

.lista-fotos li:hover .form-group input {
  border-color: #0A90BA; }

.lista-fotos li .form-group input:focus {
  border-color: #0A90BA;
  color: #0A90BA; }

.lista-fotos .form-group .guardar {
  font-size: 18px;
  padding: 5px;
  opacity: 0.5;
  position: absolute;
  right: 1px;
  top: 9px;
  cursor: pointer; }

.lista-fotos .form-group .guardar:hover {
  opacity: 1;
  color: #0A90BA; }

.lista-fotos .nueva-foto {
  position: relative;
  display: block;
  background-color: #d5d5d5;
  cursor: pointer; }

.lista-fotos .nueva-foto img {
  opacity: 0.9;
  margin-bottom: 62px; }

.lista-fotos .nueva-foto:hover {
  background-color: #ddd; }

.lista-fotos .nueva-foto:hover img {
  opacity: 1;
  position: relative;
  display: block;
  background-color: #ddd; }

.modal-lg {
  width: 900px; }

.modal-xl {
  width: calc(97vw);
  padding-top: 0; }

#subir_imagen_1.modal .modal-dialog {
  padding-top: 0; }

.dropzone {
  min-height: 200px;
  border: 2px dashed #98a6ad;
  background: transparent;
  /*padding: 40px 20px;*/
  color: #98a6ad; }

.dropzone .dz-default.dz-message span {
  font-size: 1.44em;
  display: block;
  padding-top: 10px; }

.dropzone .dz-preview {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 16px;
  min-height: 100px; }

.dropzone .dz-preview.dz-image-preview {
  background-color: #eee;
  padding: 10px;
  text-align: center;
  border: 1px solid #e4e4e4; }

.dropzone .dz-preview .dz-image {
  border-radius: 0;
  width: 120px;
  height: 120px;
  margin: 0 auto; }

.dropzone .dz-preview .form-group {
  padding-top: 10px;
  margin-bottom: 0; }

.dropzone .dz-preview .form-group input {
  width: 120px;
  padding: 3px 5px;
  height: 27px;
  font-size: 0.85em;
  letter-spacing: -0.5px; }

.dropzone .dz-preview .dz-progress .dz-upload {
  background: #0A90BA; }

.va {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

#loading-generico {
  display: block;
  display: none;
  position: fixed;
  z-index: 2000;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8); }

#loading-generico .cuadro {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #fff;
  padding: 32px 30px 30px; }

#loading-generico .cuadro img {
  display: block;
  margin: 0 auto; }

.form-inline {
  display: inline; }

.datos-adicionales .lista-metas .form-group label {
  display: block; }

.datos-adicionales .lista-metas .form-group .form-control {
  width: 700px;
  display: inline-block;
  margin-right: 7px; }

.datos-adicionales .lista-metas .form-group .borrar {
  cursor: pointer;
  opacity: 0.6;
  position: relative;
  font-size: 1.2em;
  top: -2px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .datos-adicionales .lista-metas .form-group .borrar:hover {
    opacity: 0.8; }

.ui-tooltip {
  display: none !important; }

.columnas .form-group .campos input.cb {
  float: left;
  margin-right: 20px; }

.columnas .form-group .campos .inputs {
  float: left;
  text-align: left;
  width: 700px;
  position: relative; }
  .columnas .form-group .campos .inputs .form-control {
    width: 100%;
    display: block;
    margin: 0 0 10px; }

/* .container-with-floated-children {
 	@extend %clearfix;
} */
/*
input,  
textarea {  
    @include input-placeholder {
        color: $grey;
    }
}
*/
/*@mixin scale($args) {
    -ms-transform: scale($args);
    -webkit-transform: scale($args);
    transform: scale($args);
}*/
/* EJEMPLO:
.sidebar {
	width: 60%;
	float: left;
	margin: 0 2% 0 0;
	@include bp-small {
		width: 100%;
		float: none;
		margin: 0;
	}
}
*/
/*
@include keyframes(slide-down) {
	0% { opacity: 1; }
	90% { opacity: 0; }
}
.element {
	width: 100px;
	height: 100px;
	background: black;
	@include animation('slide-down 5s 3');
}
*/
/* EJEMPLO:
a {
  color: gray;
  @include transition(color .3s ease);
  &:hover {
    color: black;
  }
}
transition: <property> || <duration> || <timing-function> || <delay> [, ...];

Note that the duration must come before the delay if the latter is specified. Individual transitions combined in shorthand declarations:

-webkit-transition: height 0.3s ease-out, opacity 0.3s ease 0.5s;
-moz-transition: height 0.3s ease-out, opacity 0.3s ease 0.5s;
-ms-transition: height 0.3s ease-out, opacity 0.3s ease 0.5s;
-o-transition: height 0.3s ease-out, opacity 0.3s ease 0.5s;
transition: height 0.3s ease-out, opacity 0.3s ease 0.5s;
*/

/* .container-with-floated-children {
 	@extend %clearfix;
} */
/*
input,  
textarea {  
    @include input-placeholder {
        color: $grey;
    }
}
*/
/*@mixin scale($args) {
    -ms-transform: scale($args);
    -webkit-transform: scale($args);
    transform: scale($args);
}*/
/* EJEMPLO:
.sidebar {
	width: 60%;
	float: left;
	margin: 0 2% 0 0;
	@include bp-small {
		width: 100%;
		float: none;
		margin: 0;
	}
}
*/
/*
@include keyframes(slide-down) {
	0% { opacity: 1; }
	90% { opacity: 0; }
}
.element {
	width: 100px;
	height: 100px;
	background: black;
	@include animation('slide-down 5s 3');
}
*/
/* EJEMPLO:
a {
  color: gray;
  @include transition(color .3s ease);
  &:hover {
    color: black;
  }
}
transition: <property> || <duration> || <timing-function> || <delay> [, ...];

Note that the duration must come before the delay if the latter is specified. Individual transitions combined in shorthand declarations:

-webkit-transition: height 0.3s ease-out, opacity 0.3s ease 0.5s;
-moz-transition: height 0.3s ease-out, opacity 0.3s ease 0.5s;
-ms-transition: height 0.3s ease-out, opacity 0.3s ease 0.5s;
-o-transition: height 0.3s ease-out, opacity 0.3s ease 0.5s;
transition: height 0.3s ease-out, opacity 0.3s ease 0.5s;
*/
/*LOGIN PAGE*/
.login-page img.logo {
  max-width: 160px;
  display: block;
  margin: 0 auto 40px; }

.login-page .ult .ingresar-cont {
  position: relative;
  z-index: 2; }

.login-page .ult .checkbox {
  position: relative;
  z-index: 1; }

.login-page .validation-summary-errors {
  color: red;
  border: 1px solid red;
  padding: 10px; }

.login-page .validation-summary-errors ul {
  margin: 0;
  padding: 0 0 0 15px; }

.login-page .validation-summary-errors li {
  padding-left: 2px;
  font-size: 12px;
  line-height: 14px; }

.submit-cont {
  position: relative;
  z-index: 1; }
