/* .container-with-floated-children {
 	@extend %clearfix;
} */
/*
input,  
textarea {  
    @include input-placeholder {
        color: $grey;
    }
}
*/
/*@mixin scale($args) {
    -ms-transform: scale($args);
    -webkit-transform: scale($args);
    transform: scale($args);
}*/
/* EJEMPLO:
.sidebar {
	width: 60%;
	float: left;
	margin: 0 2% 0 0;
	@include bp-small {
		width: 100%;
		float: none;
		margin: 0;
	}
}
*/
/*
@include keyframes(slide-down) {
	0% { opacity: 1; }
	90% { opacity: 0; }
}
.element {
	width: 100px;
	height: 100px;
	background: black;
	@include animation('slide-down 5s 3');
}
*/
/* EJEMPLO:
a {
  color: gray;
  @include transition(color .3s ease);
  &:hover {
    color: black;
  }
}
transition: <property> || <duration> || <timing-function> || <delay> [, ...];

Note that the duration must come before the delay if the latter is specified. Individual transitions combined in shorthand declarations:

-webkit-transition: height 0.3s ease-out, opacity 0.3s ease 0.5s;
-moz-transition: height 0.3s ease-out, opacity 0.3s ease 0.5s;
-ms-transition: height 0.3s ease-out, opacity 0.3s ease 0.5s;
-o-transition: height 0.3s ease-out, opacity 0.3s ease 0.5s;
transition: height 0.3s ease-out, opacity 0.3s ease 0.5s;
*/
/* ----------------------------------------------------------------------------------------- */
@media only screen and (max-width: 1800px) {
  .m {
    max-width: 1500px; } }

/* ----------------------------------------------------------------------------------------- */
@media only screen and (max-width: 1600px) {
  .m {
    max-width: 1500px; }
  .tit-huge {
    font-size: 80px;
    line-height: 90px;
    margin-bottom: 44px; } }

/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */
@media only screen and (max-width: 1400px) {
  .tit-huge {
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 38px; }
  .home-slider .slide .cont {
    max-width: 890px; } }

/* ----------------------------------------------------------------------------------------- */
@media only screen and (max-width: 1300px) {
  #sec_destacados .destacados-slider-cont .destacados-slider .slide {
    min-height: 550px; }
    #sec_destacados .destacados-slider-cont .destacados-slider .slide .cuadro {
      padding: 65px;
      width: 90vw;
      top: 140px; }
      #sec_destacados .destacados-slider-cont .destacados-slider .slide .cuadro .info {
        width: 44vw; }
    #sec_destacados .destacados-slider-cont .destacados-slider .slide .img {
      margin-right: 0; } }

/* ----------------------------------------------------------------------------------------- */
@media only screen and (max-width: 1280px) {
  #header .logo img {
    height: 100px; }
  .tit2 {
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 2px; }
  #sec_comercios .comercios-slider .slide {
    padding: 20px; }
  #resultados {
    padding: 20px 0 70px; }
    #resultados .res {
      width: 25%;
      height: 31vw; }
      #resultados .res a {
        padding: 10px; }
        #resultados .res a img {
          width: 85%; }
        #resultados .res a .nombre {
          letter-spacing: 2px; }
  #intro.intro-detalle .info {
    padding: 200px 0 110px;
    width: 60%; } }

/* ----------------------------------------------------------------------------------------- */
@media only screen and (max-width: 1100px) {
  #sec_destacados h1.tit1 {
    margin-bottom: -20px; }
  #sec_destacados .destacados-slider-cont .destacados-slider .slide {
    min-height: 550px; }
    #sec_destacados .destacados-slider-cont .destacados-slider .slide .cuadro {
      padding: 65px;
      width: 90vw;
      top: 140px; }
      #sec_destacados .destacados-slider-cont .destacados-slider .slide .cuadro .info {
        width: 44vw; }
    #sec_destacados .destacados-slider-cont .destacados-slider .slide .img {
      min-height: 550px; }
  #sec_destacados .destacados-slider-cont .destacados-slider .slick-next, #sec_destacados .destacados-slider-cont .destacados-slider .slick-prev {
    margin-top: 0;
    top: 244px; }
  #sec_destacados .destacados-slider-cont .destacados-slider .slick-prev {
    left: 0; }
  #sec_destacados .destacados-slider-cont .destacados-slider .slick-next {
    right: 0; }
  #sec_videos .elem .vid-cont {
    width: 40% !important; }
  #sec_videos .elem .info {
    width: 60% !important;
    padding: 0 50px !important; }
  #sec_videos .elem .adorno {
    display: none !important; }
  #valoresImg .img-cont .imgs {
    height: 300px; }
    #valoresImg .img-cont .imgs .img {
      width: 100%;
      height: 300px;
      left: 0;
      margin-left: 0; }
  #valoresImg .valores-cont {
    padding: 0;
    position: relative;
    z-index: 2;
    background-color: #fff;
    max-width: 90vw;
    margin: -70px auto 0; }
    #valoresImg .valores-cont .valores .elem {
      width: 19%;
      padding: 30px 20px 0; }
      #valoresImg .valores-cont .valores .elem .svg-cont svg {
        width: 75px;
        max-width: 70%;
        height: auto; }
      #valoresImg .valores-cont .valores .elem .titulo, #valoresImg .valores-cont .valores .elem .bajada {
        display: none; }
      #valoresImg .valores-cont .valores .elem:hover .svg-cont svg {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        top: 0; }
      #valoresImg .valores-cont .valores .elem.sel .svg-cont svg path {
        fill: #f79e20; }
  .video-modal .cuadro {
    width: 90%;
    margin-left: -45%; } }

/* ----------------------------------------------------------------------------------------- */
@media only screen and (max-width: 991px) {
  .sec {
    padding: 75px 0; }
  .tit-huge {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 30px; }
  .txt1 {
    font-size: 1.1rem;
    line-height: 1.5rem; }
  .desktop-nav {
    display: none; }
  #sidemenu_btn {
    display: block; }
  #header .logo img {
    height: 85px; }
  .home-slider .slide .cont h1 {
    margin-bottom: 30px; }
  .home-slider .slide .cont .bajada {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 30px; }
  .home-slider .slide .cont .datos-contacto {
    padding: 30px 0 30px; }
  .valores.valores-home .elem, .valores.valores-home .elem:hover, .hey-no-touch .valores.valores-home .elem, .hey-no-touch .valores.valores-home .elem:hover {
    width: 49%;
    padding: 0 10px;
    margin-bottom: 30px; }
    .valores.valores-home .elem .svg-cont svg, .valores.valores-home .elem:hover .svg-cont svg, .hey-no-touch .valores.valores-home .elem .svg-cont svg, .hey-no-touch .valores.valores-home .elem:hover .svg-cont svg {
      transform: none !important;
      top: 0 !important;
      height: 80px; }
    .valores.valores-home .elem .titulo, .valores.valores-home .elem:hover .titulo, .hey-no-touch .valores.valores-home .elem .titulo, .hey-no-touch .valores.valores-home .elem:hover .titulo {
      color: #6e5c53; }
    .valores.valores-home .elem .bajada, .valores.valores-home .elem:hover .bajada, .hey-no-touch .valores.valores-home .elem .bajada, .hey-no-touch .valores.valores-home .elem:hover .bajada {
      opacity: 1;
      -ms-transform: translate(0, 0);
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0); }
  #sec_destacados .destacados-slider-cont .destacados-slider .slide {
    min-height: 550px; }
    #sec_destacados .destacados-slider-cont .destacados-slider .slide .cuadro {
      padding: 45px;
      width: 90vw;
      top: 140px; }
      #sec_destacados .destacados-slider-cont .destacados-slider .slide .cuadro .info {
        width: 40vw; }
    #sec_destacados .destacados-slider-cont .destacados-slider .slide .img {
      height: 550px; }
  #sec_comercios .comercios-slider .slide {
    padding: 15px; } }

/* ----------------------------------------------------------------------------------------- */
@media only screen and (max-width: 820px) {
  #sec_destacados .destacados-slider-cont .destacados-slider .slide {
    min-height: 520px; }
    #sec_destacados .destacados-slider-cont .destacados-slider .slide .cuadro {
      padding: 55px 0 55px 65px;
      width: 100vw;
      top: 100px; }
      #sec_destacados .destacados-slider-cont .destacados-slider .slide .cuadro .info {
        width: 37vw; }
    #sec_destacados .destacados-slider-cont .destacados-slider .slide .img {
      height: 520px; }
  #sec_videos .elem {
    margin-bottom: 30px; }
  #sec_mapa .head {
    padding-bottom: 44px;
    text-align: center; }
    #sec_mapa .head .izq {
      width: 100%;
      margin: 0 auto; }
      #sec_mapa .head .izq .bajada {
        margin-bottom: 0; }
    #sec_mapa .head .datos {
      width: 100%;
      text-align: center;
      width: 100%;
      right: 0;
      position: relative;
      padding: 44px 0 0; }
      #sec_mapa .head .datos .elem {
        text-align: center;
        margin: 0 20px 0px; }
        #sec_mapa .head .datos .elem .num {
          font-size: 24px; }
        #sec_mapa .head .datos .elem .txt {
          font-size: 0.8em; }
  #sec_mapa .mapa-cont #mapa-comercios {
    height: 44vw; }
  #valoresImg .img-cont .imgs {
    height: 300px; }
    #valoresImg .img-cont .imgs .img {
      height: 300px; } }

/* ----------------------------------------------------------------------------------------- */
@media only screen and (max-width: 768px) {
  .m {
    padding: 0 20px; }
  #sidemenu_btn.right {
    right: 30px; }
  #sec_intro .adorno2 {
    display: none; }
  #sec_destacados .destacados-slider-cont .destacados-slider .slide {
    min-height: 430px; }
    #sec_destacados .destacados-slider-cont .destacados-slider .slide .cuadro {
      padding: 50px 0 50px 40px;
      width: 100vw;
      top: 100px; }
      #sec_destacados .destacados-slider-cont .destacados-slider .slide .cuadro .info {
        width: 38vw; }
        #sec_destacados .destacados-slider-cont .destacados-slider .slide .cuadro .info .bajada {
          font-size: 0.9em;
          line-height: 1.4em; }
    #sec_destacados .destacados-slider-cont .destacados-slider .slide .img {
      height: 430px; }
  #sec_videos .elem {
    margin-bottom: 30px !important; }
    #sec_videos .elem .vid-cont {
      float: left !important;
      width: 35% !important; }
      #sec_videos .elem .vid-cont .vid {
        width: 100% !important;
        height: 22vw !important; }
    #sec_videos .elem .info {
      float: right !important;
      width: 65% !important;
      padding: 0 0 0 30px !important;
      text-align: left !important; }
      #sec_videos .elem .info .titulo {
        float: none !important; }
  #footerLinkCols {
    display: none !important; }
  #footer {
    padding-bottom: 44px; }
    #footer .centro {
      text-align: center;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      padding-bottom: 44px;
      margin-bottom: 44px; }
  #intro {
    text-align: center; }
  #empresa h1 {
    margin-bottom: 55px; }
  #empresa #mision_vision .col {
    text-align: left; }
  #valoresImg .valores-cont .valores .elem {
    width: 19%;
    padding: 30px 10px 0; }
  #resultados {
    padding: 20px 0 60px; }
    #resultados .res {
      width: 33%;
      height: 49vw; }
      #resultados .res a {
        padding: 8px; }
        #resultados .res a img {
          width: 85%; }
        #resultados .res a .nombre {
          letter-spacing: 1px;
          font-size: 0.8rem;
          line-height: 0.8rem; }
  .lista-productos .cat .prod-slider .slide a .nombre {
    letter-spacing: 1px;
    font-size: 0.8rem;
    line-height: 0.8rem; }
  #intro .info {
    width: 100%;
    padding: 160px 0 160px; }
  #intro.intro-detalle .info {
    padding: 160px 0 200px;
    width: 700px;
    margin: 0 auto; }
  #page_detalle #intro.intro-detalle {
    padding-bottom: 0; }
    #page_detalle #intro.intro-detalle img.img-prod {
      display: none; }
  #page_detalle .barra-gris img {
    display: block; }
  .video-modal .cuadro {
    width: 100%;
    margin-left: -50%; }
  #nosotros_txt .cont .valores2 {
    padding-top: 20px; }
  #nosotros_txt .cont .valores2 .row {
    margin-bottom: 0; } }

/* ----------------------------------------------------------------------------------------- */
@media only screen and (max-width: 650px) {
  #resultados {
    padding: 20px 0 60px; }
    #resultados .res {
      width: 50%;
      height: 69vw; }
      #resultados .res a {
        padding: 8px; } }

/* ----------------------------------------------------------------------------------------- */
@media only screen and (max-width: 550px) {
  .sec {
    padding: 55px 0; }
  .tit1 {
    font-size: 1.7rem;
    line-height: 2.2rem;
    letter-spacing: 5px; }
  #header .logo img {
    height: 80px; }
  .valores.valores-home .elem, .valores.valores-home .elem:hover, .hey-no-touch .valores.valores-home .elem, .hey-no-touch .valores.valores-home .elem:hover {
    width: 100%;
    padding: 0 20px;
    margin-bottom: 30px; }
    .valores.valores-home .elem .svg-cont svg, .valores.valores-home .elem:hover .svg-cont svg, .hey-no-touch .valores.valores-home .elem .svg-cont svg, .hey-no-touch .valores.valores-home .elem:hover .svg-cont svg {
      height: 80px; }
    .valores.valores-home .elem .titulo, .valores.valores-home .elem:hover .titulo, .hey-no-touch .valores.valores-home .elem .titulo, .hey-no-touch .valores.valores-home .elem:hover .titulo {
      height: auto; }
  #sec_destacados .destacados-slider-cont .destacados-slider {
    margin-bottom: 0px; }
    #sec_destacados .destacados-slider-cont .destacados-slider .slide {
      min-height: 400px; }
      #sec_destacados .destacados-slider-cont .destacados-slider .slide .img {
        position: relative;
        float: none;
        width: 90%;
        min-height: 0;
        height: auto;
        margin: 0 auto -140px; }
      #sec_destacados .destacados-slider-cont .destacados-slider .slide .cuadro {
        position: relative;
        float: none;
        padding: 115px 30px 40px;
        top: 0; }
        #sec_destacados .destacados-slider-cont .destacados-slider .slide .cuadro .info {
          width: 100%; }
    #sec_destacados .destacados-slider-cont .destacados-slider .slick-next, #sec_destacados .destacados-slider-cont .destacados-slider .slick-prev {
      top: 70vw; }
  #sec_destacados .btn-cont {
    padding-top: 30px; }
  #sec_videos .elem {
    margin-bottom: 30px !important;
    padding: 0 30px !important; }
    #sec_videos .elem .vid-cont {
      float: none !important;
      width: 100% !important;
      margin-bottom: 30px !important; }
      #sec_videos .elem .vid-cont .vid {
        width: 100% !important;
        height: 41vw !important;
        margin: 0 auto; }
    #sec_videos .elem .info {
      float: none !important;
      width: 100% !important;
      padding: 0 0 !important; }
  #empresa #mision_vision .col {
    text-align: left;
    float: none;
    width: 100%;
    margin-bottom: 44px;
    padding: 0; }
  #valoresImg .img-cont {
    padding: 0 0px; }
  #valoresImg .valores-cont {
    max-width: 90vw;
    margin: -60px auto 0; }
    #valoresImg .valores-cont .valores {
      padding: 0 10px; }
      #valoresImg .valores-cont .valores .elem {
        width: 22%;
        padding: 30px 5px 0; }
        #valoresImg .valores-cont .valores .elem .svg-cont svg {
          width: 90%; }
  #intro .datos-cont {
    width: 100%; }
    #intro .datos-cont .datos-contacto {
      width: 100%;
      bottom: 40px;
      text-align: center; }
      #intro .datos-cont .datos-contacto a {
        font-size: 1rem; } }

/* ----------------------------------------------------------------------------------------- */
@media only screen and (max-width: 480px) {
  .sec {
    padding: 44px 0; }
  .m {
    padding: 0 15px; }
  #sidemenu_btn.right {
    right: 17px;
    top: 12px; }
  #header, #header.compact {
    height: 55px; }
    #header .logo img, #header.compact .logo img {
      height: 55px;
      top: 0; }
  #sec_videos .elem {
    padding: 0 10px !important; }
  #sec_comercios .comercios-slider .slide {
    padding: 10px; }
  .datos-contacto-snippet {
    padding: 40px 0 50px; }
    .datos-contacto-snippet a {
      font-size: 1rem;
      margin: 0 5px 15px; }
      .datos-contacto-snippet a i {
        margin-right: 3px; }
  #intro.intro-detalle .info {
    padding: 140px 0 200px; }
  #contacto {
    padding: 90px 0 70px; }
  .video-modal .cuadro {
    width: 100%;
    margin-left: -50%; }
    .video-modal .cuadro .cont iframe {
      height: calc(100vh - 50px); } }

/* ----------------------------------------------------------------------------------------- */
@media only screen and (max-width: 400px) {
  #intro .datos-cont .datos-contacto a {
    font-size: 0.9rem;
    margin: 0 5px; } }

/* ----------------------------------------------------------------------------------------- */
@media only screen and (max-width: 340px) {
  .sec {
    padding: 36px 0; }
  .tit-huge {
    font-size: 33px;
    line-height: 44px;
    margin-bottom: 24px; }
  .tit1 {
    font-size: 1.4rem;
    line-height: 1.9rem;
    letter-spacing: 4px; }
  .txt1 {
    font-size: 1rem;
    line-height: 1.4rem; }
  .btn, .btn:visited {
    padding: 0.4rem 1.5rem; }
  .home-slider .slide .cont {
    padding-top: 60px; }
    .home-slider .slide .cont h1 {
      margin-bottom: 20px; }
    .home-slider .slide .cont .bajada {
      margin-bottom: 20px; }
    .home-slider .slide .cont .datos-contacto {
      padding: 17px 0; }
      .home-slider .slide .cont .datos-contacto a {
        display: block;
        max-width: 85%;
        margin: 0 auto 8px; }
    .home-slider .slide .cont .fle-abajo {
      display: none; }
  #resultados {
    padding: 20px 0 40px; }
    #resultados .res {
      width: 100%;
      height: auto; }
      #resultados .res a {
        padding: 8px; }
  #intro.intro-detalle .info {
    padding: 100px 0 200px; } }
