@import 'mixins.scss';
// ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
$negro: #000000;
$gris: #f2f2f2;
$gris-oscuro: #686868;
$azul: #3B5890;
$celeste: #3090F1;
$rojo: #d32027;

/* ----------------------------------------------------------------------------------------- */
@media only screen and (max-width: 1800px) {
    .m {
        max-width: 1500px;
        // padding: 0 40px;
    }
}
@media only screen and (max-width: 1700px) {
    
}
/* ----------------------------------------------------------------------------------------- */
@media only screen and (max-width: 1600px) {
    .m {
        max-width: 1500px;
        // padding: 0 40px;
    }
    .tit-huge {
        font-size: 80px;
        line-height: 90px;
        margin-bottom: 44px;
    }

}
/* ----------------------------------------------------------------------------------------- */
@media only screen and (max-width: 1500px) {
}
/* ----------------------------------------------------------------------------------------- */
@media only screen and (max-width: 1400px) {
    .tit-huge {
        font-size: 60px;
        line-height: 70px;
        margin-bottom: 38px;
    }
    .home-slider {
        .slide {
            .cont {
                max-width: 890px;
            }
        }
    }

}
/* ----------------------------------------------------------------------------------------- */
@media only screen and (max-width: 1300px) {
    
    #sec_destacados .destacados-slider-cont .destacados-slider {
        .slide {
            min-height: 550px;
            .cuadro {
                padding: 65px;
                width: 90vw;
                top: 140px;
                .info {
                    width: 44vw;
                }
            }
            .img {
                margin-right: 0;
            }
        }
    }
}
/* ----------------------------------------------------------------------------------------- */
@media only screen and (max-width: 1280px) {
    #header .logo img {
        height: 100px;
    }
    .tit2 {
        font-size: 15px;
        line-height: 17px;
        letter-spacing: 2px;
    }
    #sec_comercios .comercios-slider .slide {
        padding: 20px;
    }
    
    #resultados {
        padding: 20px 0 70px;
        .res { 
            width: 25%;
            height: 31vw;
            a { 
                padding: 10px;
                img { 
                    width: 85%;
                }
                .nombre { 
                    letter-spacing: 2px;
                }
            }
        }
    }
    #intro.intro-detalle .info {
        padding: 200px 0 110px;
        width: 60%;
    }
}
/* ----------------------------------------------------------------------------------------- */
@media only screen and (max-width: 1100px) {
    #sec_destacados {
        h1.tit1 {
            margin-bottom: -20px;
        }
        .destacados-slider-cont .destacados-slider {
            .slide {
                min-height: 550px;
                .cuadro {
                    padding: 65px;
                    width: 90vw;
                    top: 140px;
                    .info {
                        width: 44vw;
                    }
                }
                .img {
                    min-height: 550px;
                }
            }
            .slick-next, .slick-prev {
                margin-top: 0;
                top: 244px;
            }
            .slick-prev {
                left: 0;
            }
            .slick-next {
                right: 0;
            }
        }
    }
    #sec_videos {
        .elem {
            .vid-cont {
                width: 40% !important;
                .vid {
                    // width: 100% !important;
                }
            }
            .info {
                width: 60% !important;
                padding: 0 50px !important;
            }
            .adorno {
                display: none !important;
            }
        }
    }
    #valoresImg {
        .img-cont {
            .imgs {
                height: 300px;
                .img {
                    width: 100%;
                    height: 300px;
                    left: 0;
                    margin-left: 0;
                }
            }
        }
        .valores-cont {
            padding: 0;
            position: relative;
            z-index: 2;
            background-color: #fff;
            max-width: 90vw;
            margin: -70px auto 0;
            .valores {

                .elem {
                    width: 19%;
                    padding: 30px 20px 0;
                    .svg-cont {
                        svg {
                            width: 75px;
                            max-width: 70%;
                            height: auto;
                        }
                    }
                    .titulo, .bajada {
                        display: none;
                    }
                    &:hover {
                        .svg-cont {
                            svg {
                                @include scale(1,1);
                                top: 0;
                            }
                        }
                    }
                    &.sel {
                        .svg-cont {
                            svg {
                                path {
                                    fill: #f79e20;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .video-modal .cuadro {
        width: 90%;
        margin-left: -45%;
    }
}
/* ----------------------------------------------------------------------------------------- */
@media only screen and (max-width: 991px) {
    .sec {
        padding: 75px 0;
    }
    .tit-huge {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 30px;
    }
    .txt1 {
        font-size: 1.1rem;
        line-height: 1.5rem;
    }
    .desktop-nav {
        display: none;
    }
    #sidemenu_btn {
        display: block;
    }
    #header .logo img {
        height: 85px;
    }
    .home-slider .slide .cont {
        h1 {
            margin-bottom: 30px;
        }
        .bajada {
            max-width: 600px;
            margin: 0 auto;
            margin-bottom: 30px;
        }
        .datos-contacto {
            padding: 30px 0 30px;
        }
    }
    .valores.valores-home, .hey-no-touch .valores.valores-home {
        .elem, .elem:hover {
            width: 49%;
            padding: 0 10px;
            margin-bottom: 30px;
            .svg-cont {
                svg {
                    transform: none !important;
                    top: 0 !important;
                    height: 80px;
                }
            }
            .titulo {
                color: #6e5c53;
            }
            .bajada {
                opacity: 1;
                @include translate(0,0);
            }
        }
    }
    #sec_destacados .destacados-slider-cont .destacados-slider {
        .slide {
            min-height: 550px;
            .cuadro {
                padding: 45px;
                width: 90vw;
                top: 140px;
                .info {
                    width: 40vw;
                }
            }
            .img {
                height: 550px;
            }
        }
    }
    #sec_comercios .comercios-slider .slide {
        padding: 15px;
    }

}
/* ----------------------------------------------------------------------------------------- */
@media only screen and (max-width: 820px) {
    
    #sec_destacados .destacados-slider-cont .destacados-slider {
        .slide {
            min-height: 520px;
            .cuadro {
                padding: 55px 0 55px 65px;
                width: 100vw;
                top: 100px;
                .info {
                    width: 37vw;
                }
            }
            .img {
                height: 520px;
            }
        }
    }
    #sec_videos {
        .elem {
            margin-bottom: 30px;
        }
    }
    #sec_mapa { 
        .head { 
            padding-bottom: 44px;
            text-align: center;
            .izq { 
                width: 100%;
                margin: 0 auto;
                .tit1 { 
                    strong { 

                    }
                }
                .bajada { 
                    margin-bottom: 0;
                }
            }

            .datos { 
                width: 100%;
                text-align: center;
                width: 100%;
                right: 0;
                position: relative;
                padding: 44px 0 0;

                .elem { 
                    text-align: center;
                    margin: 0 20px 0px;
                    .num { 
                        font-size: 24px;
                    }
                    .txt { 
                        font-size: 0.8em;
                    }
                }
            }
        }

        .mapa-cont { 
            #mapa-comercios { 
                height: 44vw;
            }
        }
    }
    #valoresImg {
        .img-cont {
            .imgs {
                height: 300px;
                .img {
                    height: 300px;
                }
            }
        }
    }
}
/* ----------------------------------------------------------------------------------------- */
@media only screen and (max-width: 768px) {
    .m {
        padding: 0 20px;
    }
    #sidemenu_btn.right {
        right: 30px;
    }
    #sec_intro {
        .adorno2 {
            display: none;
        }
    }
    #sec_destacados .destacados-slider-cont .destacados-slider {
        .slide {
            min-height: 430px;
            .cuadro {
                padding: 50px 0 50px 40px;
                width: 100vw;
                top: 100px;
                .info {
                    width: 38vw;
                    .bajada {
                        font-size: 0.9em;
                        line-height: 1.4em;
                    }
                }
            }
            .img {
                height: 430px;
            }
        }
    }
    
    #sec_videos {
        .elem {
            margin-bottom: 30px !important;
            .vid-cont {
                float: left !important;
                width: 35% !important;
                .vid {
                    width: 100% !important;
                    height: 22vw !important;
                }
            }
            .info {
                float: right !important;
                width: 65% !important;
                padding: 0 0 0 30px !important;
                text-align: left !important;
                .titulo {
                    float: none !important;
                }
            }
        }
    }
    #footerLinkCols {
        display: none !important;
    }
    #footer {
        padding-bottom: 44px;
        .centro {
            text-align: center;
            border-bottom: 1px solid rgba(255,255,255,0.1);
            padding-bottom: 44px;
            margin-bottom: 44px;
        }
    }
    #intro {
        text-align: center;
        .info {

        }
    }
    #empresa {
        h1 {
            margin-bottom: 55px;
        }
        #mision_vision .col {
            text-align: left;
        }
    }
    #valoresImg .valores-cont .valores .elem {
        width: 19%;
        padding: 30px 10px 0;
    }
    
    #resultados {
        padding: 20px 0 60px;
        .res { 
            width: 33%;
            height: 49vw;
            a { 
                padding: 8px;
                img { 
                    width: 85%;
                }
                .nombre { 
                    letter-spacing: 1px;
                    font-size: 0.8rem;
                    line-height: 0.8rem;
                }
                .categ {

                }
            }
        }
    }
    .lista-productos .cat .prod-slider .slide a .nombre {
        letter-spacing: 1px;
        font-size: 0.8rem;
        line-height: 0.8rem;
    }
    #intro {
        .info {
            width: 100%;
            padding: 160px 0 160px;
        }
    }
    #intro.intro-detalle .info {
        padding: 160px 0 200px;
        width: 700px;
        margin: 0 auto;
    }
    #page_detalle {
        #intro.intro-detalle {
            padding-bottom: 0;
            img.img-prod {
                display: none;
                // position: relative;
                // right: auto;
                // top: auto;
                // display: block;
                // margin: 0 auto 0;
            }
        }
        .barra-gris {
            img {
                display: block;
            }
        }
    }
    .video-modal .cuadro {
        width: 100%;
        margin-left: -50%;
    }
    #nosotros_txt .cont .valores2 {
        padding-top: 20px;

    }
    #nosotros_txt .cont .valores2 .row {
        margin-bottom: 0;

    }

}
/* ----------------------------------------------------------------------------------------- */
@media only screen and (max-width: 650px) {
    #resultados {
        padding: 20px 0 60px;
        .res { 
            width: 50%;
            height: 69vw;
            a { 
                padding: 8px;
            }
        }
    }
}
/* ----------------------------------------------------------------------------------------- */
@media only screen and (max-width: 550px) {
    .sec {
        padding: 55px 0;
    }
    .tit1 {
        font-size: 1.7rem;
        line-height: 2.2rem;
        letter-spacing: 5px;
    }
    #header .logo img {
        height: 80px;
    }
    
    .valores.valores-home, .hey-no-touch .valores.valores-home {
        .elem, .elem:hover {
            width: 100%;
            padding: 0 20px;
            margin-bottom: 30px;
            .svg-cont {
                svg {
                    height: 80px;
                }
            }
            .titulo {
                height: auto;
            }
        }
    }
    
    #sec_destacados {
        .destacados-slider-cont .destacados-slider {
            margin-bottom: 0px;
            .slide {
                min-height: 400px;
                .img {
                    position: relative;
                    float: none;
                    width: 90%;
                    min-height: 0;
                    height: auto;
                    margin: 0 auto -140px;
                }
                .cuadro {
                    position: relative;
                    float: none;
                    padding: 115px 30px 40px;
                    top: 0;
                    .info {
                        width: 100%;
                    }
                }
            }
            .slick-next, .slick-prev {
                top: 70vw;
            }
        }
        .btn-cont {
            padding-top: 30px;
        }
    }
    #sec_videos {
        .elem {
            margin-bottom: 30px !important;
            padding: 0 30px !important;
            .vid-cont {
                float: none !important;
                width: 100% !important;
                margin-bottom: 30px !important;
                .vid {
                    width: 100% !important;
                    height: 41vw !important;
                    margin: 0 auto;
                }
            }
            .info {
                float: none !important;
                width: 100% !important;
                padding: 0 0 !important;
            }
        }
    }
    #empresa #mision_vision .col {
        text-align: left;
        float: none;
        width: 100%;
        margin-bottom: 44px;
        padding: 0;
    }
    #valoresImg {
        .img-cont {
            padding: 0 0px;
        }
        .valores-cont {
            max-width: 90vw;
            margin: -60px auto 0;
            .valores {
                padding: 0 10px;
                .elem {
                    width: 22%;
                    padding: 30px 5px 0;
                    .svg-cont svg {
                        width: 90%;
                    }
                }
            }
        }
    }
    #intro .datos-cont {
        width: 100%;
        .datos-contacto {
            width: 100%;
            bottom: 40px;
            text-align: center;
            a {
                font-size: 1rem;
            }
        }
    }
}
/* ----------------------------------------------------------------------------------------- */
@media only screen and (max-width: 480px) {
    .sec {
        padding: 44px 0;
    }
    .m {
        padding: 0 15px;
    }
    #sidemenu_btn.right {
        right: 17px;
        top: 12px;
    }
    #header, #header.compact {
        height: 55px;

        .logo {
            img {
                height: 55px;
                top: 0;
            }
        }
    }
    #sec_videos {
        .elem {
            padding: 0 10px !important;
        }
    }
    #sec_comercios .comercios-slider .slide {
        padding: 10px;
    }
    
    .datos-contacto-snippet {
        padding: 40px 0 50px;
    
        a {
            font-size: 1rem;
            margin: 0 5px 15px;
            i {
                margin-right: 3px;
            }
            span {
    
            }
        }
    }
    
    #intro.intro-detalle .info {
        padding: 140px 0 200px;
    }
    #contacto {
        padding: 90px 0 70px;
    }
    
    .video-modal .cuadro {
        width: 100%;
        margin-left: -50%;
        .cont {
            iframe {
                height: calc(100vh - 50px);
            }
        }
    }

}
/* ----------------------------------------------------------------------------------------- */
@media only screen and (max-width: 400px) {
    
    #intro .datos-cont {
        .datos-contacto {
            a {
                font-size: 0.9rem;
                margin: 0 5px;
            }
        }
    }
}
/* ----------------------------------------------------------------------------------------- */
@media only screen and (max-width: 340px) {
    .sec {
        padding: 36px 0;
    }
    .tit-huge {
        font-size: 33px;
        line-height: 44px;
        margin-bottom: 24px;
    }
    .tit1 {
        font-size: 1.4rem;
        line-height: 1.9rem;
        letter-spacing: 4px;
    }
    .txt1 {
        font-size: 1rem;
        line-height: 1.4rem;
    }
    .btn, .btn:visited {
        padding: 0.4rem 1.5rem;
    }
    .home-slider .slide .cont {
        padding-top: 60px;
        h1 {
            margin-bottom: 20px;
        }
        .bajada {
            margin-bottom: 20px;
        }
        .btn-cont {

        }
        .datos-contacto {
            padding: 17px 0;

            a {
                display: block;
                max-width: 85%;
                margin: 0 auto 8px;
            }
        }
        .fle-abajo {
            display: none;
        }
    }
    #resultados {
        padding: 20px 0 40px;
        .res { 
            width: 100%;
            height: auto;
            a { 
                padding: 8px;
            }
        }
    }
    #intro.intro-detalle .info {
        padding: 100px 0 200px;
    }
}