@import 'mixins.scss';
/* MIERDAS VARIAS */

body {
    overflow-x: hidden;
}

html {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

h1 a, h2 a, h3 a, h4 a, h5 a {
	font: inherit;
	color: inherit;
}
strong {
	font: inherit;
	color: inherit;
	font-weight: bold;
}
hr {
	border:0;padding:0;margin:0;
	display: block;
	width: 100%;
	margin: 20px auto;
	height: 1px;
	background-color: #ddd;
	border-bottom: 1px solid #fff;
}
.truncate {
    width: 100%;
  	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

textarea, input, button { 
    outline: none; 
}

/* Para eso de "ver más", hay un script ahi en mis snippets que funciona para esto */
.more {
	display: none;
}
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

.validation-summary-errors {
    background-color: rgba(246, 221, 221, 0.5);
    border: 1px solid #d87373;
    padding: 10px 15px;
    -webkit-border-radius:  3px;
    -moz-border-radius:     3px;
    border-radius:          3px;
}
.validation-summary-errors ul {
    
}
.validation-summary-errors ul li {
    color: #d22a2a;
    font-style: italic;
}

/* Alertas custom */
.alerta {
    display: block;
    position: fixed;
    width: 500px;
    margin-left: -250px;
    left: 50%;
    top: 20%;
    color: #fff;
    background-color: #000000;
    padding: 44px 30px 50px;
    font-size: 1.2em;
    z-index: 7000;
    text-align: center;

    -webkit-border-radius:  20px;
    -moz-border-radius:     20px;
    border-radius:          20px;

    -moz-box-shadow:    0px 4px 15px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 4px 15px rgba(0,0,0,0.4);
    box-shadow:         0px 4px 15px rgba(0,0,0,0.4);
}
@media only screen and (max-width: 650px) {
    .alerta {
        margin-left: -45% !important;
        width: 90% !important;
    }
}

.alerta .cerrar {
    position: absolute;
    right: -10px;
    top: -10px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #acacac;
    color: #fff;
    cursor: pointer;
    text-align: center;
    font-size: 19px;
    padding: 5px 0 0 0;
    -webkit-border-radius:  1000px;
    -moz-border-radius:     1000px;
    border-radius:          1000px;
}
.alerta .titulo {
    font-weight: bold;
    font-size: 1.18em;
    margin-bottom: 0.5em;
}
.alerta .descripcion {
    font-weight: normal;
}

.main {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

.heywow {
    -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; 
    -o-transition: all 0.2s ease; transition: all 0.2s ease;
    -webkit-transition-delay: 0.44s; transition-delay: 0.44s;
}

#loading {
    width: 100%;
    height: 100%;
    width: calc(100vw);
    height: calc(100vh);
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5001;
    background-color: #ffffff;
    color: #000;

    .cont {
        position: relative;
        width: calc(100vw);
        height: 100vh;

        .loader {
            /*position: absolute;
            top: 39%;
            left: 0;*/
            width: 100%;
            padding-bottom: 80px;
            display: inline-block;
    
            img.logo {
                display: block;
                margin: 0 auto 30px;
            }
            p.bajada {
                margin: 0 auto 44px;
                opacity: 0.1;
                font-size: 0.9em;
            }
        }
    }

    &.ajax {
        .loader {
            padding-bottom: 0;
        }
        .logo {
            display: none !important;
        }
        .bajada {
            display: none !important;
        }
    }
}

.sk-wave {
    margin: 40px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px; }
    .sk-wave .sk-rect {
      background-color: #333;
      height: 100%;
      width: 6px;
      display: inline-block;
      -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
              animation: sk-waveStretchDelay 1.2s infinite ease-in-out; }
    .sk-wave .sk-rect1 {
      -webkit-animation-delay: -1.2s;
              animation-delay: -1.2s; }
    .sk-wave .sk-rect2 {
      -webkit-animation-delay: -1.1s;
              animation-delay: -1.1s; }
    .sk-wave .sk-rect3 {
      -webkit-animation-delay: -1s;
              animation-delay: -1s; }
    .sk-wave .sk-rect4 {
      -webkit-animation-delay: -0.9s;
              animation-delay: -0.9s; }
    .sk-wave .sk-rect5 {
      -webkit-animation-delay: -0.8s;
              animation-delay: -0.8s; }
  @-webkit-keyframes sk-waveStretchDelay {
    0%, 40%, 100% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4); }
    20% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1); } }
  @keyframes sk-waveStretchDelay {
    0%, 40%, 100% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4); }
    20% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1); } }


// MENU
// #nav.nav1
// Responsive (muestra navegacion en desktop, la oculta en mobile)

#menu-btn {
	display: none;
	width: 30px;
	height: 30px;
	position: fixed;
	right: 24px;
	top: 24px;
	z-index: 1010;

	img {
		width: 100%;
	}
}
.nav1 {
	position: relative;
	z-index: 1000;

	ul {
		li {
			display: inline-block;
			position: relative;
			a {
				display: block;
				padding: 10px 15px;
				color: #fff;
				font-weight: normal;
				letter-spacing: 0.1rem;
    			@include linkColor(#ffffff);

				&:hover {
					text-decoration: none;
				}
			}
			&.sel::after {
				content: "";
				background-color: #ef681d;
				display: inline-block;
				height: 4px;
				position: absolute;
				bottom: 0;
				left: 50%;
				width: 50%;
				margin-left: -25%;
			}
		}
	}
}
@media only screen and (max-width: 800px) {
	$mobile-menu-w: 244px;

	#menu-btn {
		display: block;
	}
	.nav1 {
		position: fixed;
		top: 0;
		right: -$mobile-menu-w;
		width: $mobile-menu-w;
		height: 100vh;
		@include transition(all .2s ease);
		background-color: #0b135b;
		padding: 80px 15px 0;

		&.opened {
			right: 0;
		}
		ul {
			li {
				display: block;
				a {
					padding: 10px 15px;
					color: #fff;
					font-weight: normal;
				}
				&.sel::after {
					left: auto;
					right: 18px;
					width: 80%;
				}
			}
			
		}
	}
}

.nav-overlay {
	display: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 990;
	background-color: rgba(0,0,0,0.5);
	opacity: 0;
	@include transition(opacity .8s ease);

	&.opened {
		display: block;
		opacity: 1;
	}
}

// MENU 2
// #nav.nav2
// Responsive (mobile mode only)

$mobile-menu-w: 290px;

#menu-btn2 {
	display: block;
	width: 30px;
	height: 30px;
	position: fixed;
	left: 24px;
	top: 24px;
	z-index: 1010;

	&.right {
		left: auto;
		right: 24px;
	}
	img {
		width: 100%;
	}
}
.nav2 {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: -$mobile-menu-w;
	width: $mobile-menu-w;
	height: 100vh;
	@include transition(all .2s ease);
	background-color: rgba(0,0,0,0.9);
	padding: 80px 15px 0;

	&.left.opened {
		left: 0;
	}
	&.right {
		left: auto;
		right: -$mobile-menu-w;
	}
	&.right.opened {
		left: auto;
		right: 0;
	}

	ul {
		li {
			display: block;
			a {
				display: block;
				padding: 10px 15px;
				color: #fff;
				font-weight: normal;
			}
			&.sel::after {
				left: auto;
				right: 18px;
				width: 80%;
			}
		}
		
	}
}

.va {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* HAMBURGER ICON CON ANIMACION Y MENU  */

#sidemenu_overlay {
	opacity: 0;
	width: 100vw;
	height: 100vh;
	position: fixed;
    z-index: -1;
	top: 0;
	left: 0;
	background-color: rgba(255,255,255,0.5);
    -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; 
    -o-transition: all 0.2s ease; transition: all 0.2s ease;

    &.open {
    	opacity: 1;
    z-index: 2900;
    }
}
#sidemenu {
    height: 100vh;
    width: 300px;
    max-width: 90vw;
    z-index: 3000;
    position: fixed;
    top: 0;
    left: -310px;

    -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; 
    -o-transition: all 0.2s ease; transition: all 0.2s ease;
    /*-webkit-transition-delay: 0.5s; transition-delay: 0.5s;*/
    -webkit-transition-duration: 0.5s; transition-duration: 0.5s;

    &.right {
        left: auto;
        right: -310px;
    }
}
#sidemenu.open {
    left: 0;
    &.right {
        left: auto;
        right: 0;
    }
}
#sidemenu_panel {
    width: 300px;
    max-width: 90vw;
    background-color: #ED1C24;
    height: 100vh;
    color: #fff;
    padding: 74px 20px;


    ul {
        li {
            margin-bottom: 10px;

            a {
                padding: 4px;
                display: inline-block;
            }
            &.sel a {
                font-weight: bold;
            }
        }
    }

    .redes {
        position: absolute;
        bottom: 10px;
        width: 100%;
        padding: 10px;

        ul {
            margin: 0 auto;

            li {
                display: inline-block;

                a {
                    display: block;
                    padding: 5px;

                    img {
                        width: 34px;
                    }
                }
            }
        }
    }

}
#sidemenu_btn {
    position: fixed;
    z-index: 3001;
    left: 10px;
    top: 10px;
    color: #fff;
    width: 30px;
    height: 24px;
    margin: 0;
    top: 12px;
    left: 12px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;

    &.right {
        left: auto;
        right: 10px;
    }

    span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background-color: #000;
        border-radius: 0px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }
}
#sidemenu_btn span:nth-child(1) {
    top: 5px;
}
#sidemenu_btn span:nth-child(2),
#sidemenu_btn span:nth-child(3) {
    top: 13px;
}
#sidemenu_btn span:nth-child(4) {
    top: 21px;
}
#sidemenu_btn.open span:nth-child(1) {
    top: 8px;
    width: 0%;
    left: 50%;
}
#sidemenu_btn.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
#sidemenu_btn.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#sidemenu_btn.open span:nth-child(4) {
    top: 21px;
    width: 0%;
    left: 50%;
}
#sidemenu_btn.open span {
    background-color: #fff;
}

// ESTILOS DEFAULT DE FORM-CONTROL
.form-control {
    &.error {

    }
}
.form-control { 
    padding: 0.5rem 1rem;
    height: auto;
    font-size: 1.1rem;
    width: 100%;
    @include border-radius(4px);

    &.error {
        border-color: red;
    }
    &:focus {
        background-color: rgba(250,250,250,0.9);
    }
}
label.error {
    color: red;
    font-style: italic;
    font-weight: normal;
    font-size: 1rem;
    margin-top: 8px;
    &::before {
        content: '* ';
    }
}

.text-left, .align-left {
    text-align: left;
}
.text-right, .align-right {
    text-align: right;
}
.text-center, .align-center {
    text-align: center;
}

.p-5 { padding: 5px; }
.p-10 { padding: 10px; }
.p-15 { padding: 15px; }
.p-20 { padding: 20px; }
.p-30 { padding: 30px; }
.p-40 { padding: 40px; }
.p-50 { padding: 50px; }

.p-t-5 { padding-top: 5px; }
.p-t-10 { padding-top: 10px; }
.p-t-15 { padding-top: 15px; }
.p-t-20 { padding-top: 20px; }
.p-t-30 { padding-top: 30px; }
.p-t-40 { padding-top: 40px; }
.p-t-50 { padding-top: 50px; }

.p-b-5 { padding-bottom: 5px; }
.p-b-10 { padding-bottom: 10px; }
.p-b-15 { padding-bottom: 15px; }
.p-b-20 { padding-bottom: 20px; }
.p-b-30 { padding-bottom: 30px; }
.p-b-40 { padding-bottom: 40px; }
.p-b-50 { padding-bottom: 50px; }

.p-r-5 { padding-right: 5px; }
.p-r-10 { padding-right: 10px; }
.p-r-15 { padding-right: 15px; }
.p-r-20 { padding-right: 20px; }
.p-r-30 { padding-right: 30px; }
.p-r-40 { padding-right: 40px; }
.p-r-50 { padding-right: 50px; }

.p-l-5 { padding-left: 5px; }
.p-l-10 { padding-left: 10px; }
.p-l-15 { padding-left: 15px; }
.p-l-20 { padding-left: 20px; }
.p-l-30 { padding-left: 30px; }
.p-l-40 { padding-left: 40px; }
.p-l-50 { padding-left: 50px; }

.m-t-5 { margin-top: 5px; }
.m-t-10 { margin-top: 10px; }
.m-t-15 { margin-top: 15px; }
.m-t-20 { margin-top: 20px; }
.m-t-30 { margin-top: 30px; }
.m-t-40 { margin-top: 40px; }
.m-t-50 { margin-top: 50px; }

