@import 'mixins.scss';

// ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
$dark: #424241;
$gris: #f7f3f2;
// $gris: #f2f2f2;
// $crema: #f7f3f2;

$cafe: #6e5c53;
$cafe2: #363230;
$naranja: #f79e20;
$naranja2:rgb(247, 129, 32);
$rojo: #d32027;

html {
    font-size: 16px;
    line-height: 23px;
    // font-family: 'Muli', 'Helvetica', 'Arial', sans-serif;
    font-family: 'Fira Sans', 'Helvetica', 'Arial', sans-serif;
    color: $dark;
    // color: $gris;
    // overflow-x: hidden !important;
}
strong, b, .bold {
}
h1,h2,h3,h4 {
}
body {
    background-color: #ffffff;
    font: inherit;
    overflow-x: hidden !important;
    margin: 0 !important;
    color: $dark;
}
a {
    color: #000;
    outline: none;
}
a:hover {
    opacity: 1;
    color: #000;
}
.m {
    width: 100%;
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 40px;
    position: relative;
}
.m2 {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 40px;
    position: relative;
}
h1, h2, h3, h4 {
    font-size: 1rem;
    line-height: 1rem;
    margin: 0;
    margin-bottom: 1rem;
}

#sidemenu_btn {
    display: none;
    position: fixed;
    right: 40px;
    top: 21px;
    width: 24px;

    @include transition(all .4s ease);
    @include translate(44px, 0);
    opacity: 0;
    transition-delay: 0.2s;

    span {
        background-color: #fff;
        border-radius: 50px;
    }
    &.open span {
        background-color: #fff;
    }
    &.right {
        right: 40px;
    }
}
#sidemenu_btn.in {
    opacity: 1;
    @include translate(0, 0);
}
#sidemenu_overlay {
    // background-color: rgba(0, 0, 0, 0.5);
}
$menu-w: 400px;
#sidemenu.right {
    width: $menu-w;
    right: - $menu-w;

    #sidemenu_panel {
        width: $menu-w;
        background-color: $naranja;
        padding-left: 30px;

        ul {
            li {
                margin-bottom: 15px;
                a {
                    text-decoration: none;
                    color: #fff;
                    font-size: 1.5rem;
                    padding: 10px 0 5px;

                    &.afx::after {
                        background-color: #fff;
                    }
                }
                &.redes-li {
                    display: none;
                }
            }

        }
    }
}

#loading {
    background-color: #202021;
    color: #202021;

    .cont {
        .loader {
            img.logo {
                opacity: 1;
                margin-bottom: 40px;
            }
            .sk-wave .sk-rect {
                background: #fff;
            }
        }
    }

    &.ajax {
        z-index: 99;
    }
}

html, body {
}
.cali {
    font-family: 'Satisfy', sans-serif;
}
.btn, .btn:visited {
    display: inline-block;
    padding: 0.6rem 1.7rem;
    background-color: $naranja;
    color: #fff;
    overflow: hidden;
    position: relative;
    border: 0;
    @include border-radius(100px);
    text-decoration: none !important;
    font-weight: bold;
    @include transition(all 0.2s ease);

    &:hover {
        color: #fff;
        @include scale(1.1, 1.1);
    }
}
.btn.naranja {
    background-color: $naranja;
    color: #fff;
    &:hover {
        background-color: $naranja2;
    }
}
.btn.blanco {
    background-color: #fff;
    color: $naranja;
}
.btn.negro {
    background-color: $dark;
    color: #fff;
}
.btn.rojo {
    background-color: $rojo;
    color: #fff;
}

hr {
    display: block;
    margin: 0 auto;
    width: 100%;
    border: 0;
    height: 1px;
    background-color: $gris;
}

.btn-cont {
    padding: 30px 0;
}
.sec {
    padding: 90px 0;
}
.italic {
    font-style: italic;
}

.tit-huge {
    font-family: 'Oswald', 'Helvetica', 'Arial', sans-serif;
    font-size: 90px;
    line-height: 100px;
    margin-bottom: 50px;
}
.tit1 {
    font-size: 2rem;
    line-height: 2.6rem;
    font-weight: bold;
    color: $naranja;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 2rem;
}
.txt1 {
    font-size: 1.3em;
    line-height: 1.6em;
}
.txt2 {

}
.rojo {
    color: $rojo;
}
.naranja {
    color: $naranja;
}
.tit2 {
    font-weight: bold;
    font-size: 16px;
    line-height: 17px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
p {
    margin-bottom: 1.5em;
}

.pagination {
    text-align: center;
    padding: 44px 20px;

	.disabled {
        display: none;
		span {

		}
	}


	li {
        display: inline-block;
        border: 1px solid $gris;

		a {
            display: block;
            color: $naranja;
            padding: 4px 12px;
            text-decoration: none !important;

            &:hover {
                background-color: $gris;
            }
        }
        &.active {
            span {
                padding: 4px 12px;
                display: block;
                font-weight: bold;
                color: $rojo;
                cursor: default;
            }
        }
	}
}
.alerta {
    background: $naranja;
    color: #fff;
}


// ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
// ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
// ESTILOS CUSTOM


$header_h: 120px;
$header_h_compact: 80px;
$logo_h: calc(#{$header_h} - 20px);
$logo_h_compact: calc(#{$header_h_compact} - 5px);
#header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: $header_h;
    padding: 0;
    overflow: visible;
    @include transition(all 0.25s ease);

    .logo {
        @include transition(all .4s ease);
        opacity: 0;
        @include translate(-44px, 0);
        transition-delay: 0.2s;
        height: $logo_h;
        position: relative;

        img {
            height: $logo_h;
            @include transition(all .4s ease);
            position: relative;
            top: 10px;
        }
    }
    .logo.in {
        opacity: 1;
        @include translate(0, 0);
    }

    .desktop-nav {
        float: right;
        padding: 35px 0 0;
        @include transition(all 0.4s ease);

        li {
            display: inline-block;

            a.pri {
                display: block;
                padding: 10px;
                // font-size: 15px;
                text-transform: capitalize;
                font-weight: bold;
                text-decoration: none !important;
                @include transition(all 0.2s ease);
                opacity: 0.8;
                color: #fff;

                &:hover {
                    opacity: 1;
                }
            }
            &.redes-li {
                position: relative;
                padding-left: 15px;
                margin-left: 10px;
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 2px;
                    width: 1px;
                    height: 20px;
                    background-color: #fff;
                    opacity: 0.2;
                }
                .redes {
                    position: relative;
                    top: -2px;
                    a {
                        display: inline-block;
                        margin-left: 10px;
                        opacity: 0.7;
                        @include transition(all 0.2s ease);
                        img {
                            height: 18px;
                        }
                        &:first-child {
                            margin-left: 5px;
                        }
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        li.active {
            a {
                color: $naranja;
                position: relative;
                @include translate(0,-2px);

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    bottom: -7px;
                    left: 50%;
                    margin-left: -4px;
                    background-color: $naranja;
                    @include border-radius(50px);
                }
            }
        }
    }
}
#header.compact {
    height: $header_h_compact;
    background-color: rgba(0,0,0,0.65);
    @include transition(all 0.4s ease);
    .logo {
        img {
            height: $logo_h_compact;
            top: 0px;
        }
    }
    .desktop-nav {
        padding: 15px 0 0;
    }
    .tel-cont {
        padding: 7px 0;
    }
}
.page {
    padding-top: $header_h;
    @include transition(all 0.2s ease);
}
.page.compact {
    padding-top: $header_h_compact;
}
#page_home.page {
    padding-top: 0;
}
#sec_intro {
    padding-top: 0;
}
#page_error {
    min-height: 100vh;
    text-align: center;
    .cont {
        padding: 80px 0 0;
        max-width: 800px;
        margin: 0 auto;
        h1 {
            margin-bottom: 50px;
        }
        .btn {
            margin: 0 10px 20px;
        }
    }
}

a.hvr-float, a.hvr-grow {
    text-decoration: none !important;
}


#page_home {

}
#sec_intro {
    .adorno2 {
        position: relative;
        width: 100%;
        display: block;
        margin-top: -9vw;
        z-index: 1;
        height: 11vw;
    }
}
$home_slider_h: 95vh;
.home-slider-cont {

}
.home-slider {
    position: relative;
    z-index: 2;
    .slide {
        width: 100%;
        height: $home_slider_h;
        position: relative;

        a {
            color: #fff;
        }
        .bg {
            width: 100%;
            height: $home_slider_h;
            position: absolute;
            z-index: 0;
            background-position: 50% 50%;
            background-size: cover;
        }
        .bg-overlay {
            width: 100%;
            height: $home_slider_h;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            background: rgba(0,0,0,0.3);
        }
        .cont {
            position: relative;
            height: $home_slider_h;
            z-index: 3;
            text-align: center;
            max-width: 1130px;
            margin: 0 auto;
            padding: 120px 20px 0;
            color: #fff;

            h1 {
                margin-bottom: 44px;
                @include transition(all 0.55s ease);
                opacity: 0;
                @include translate(0,-60px);
                transition-delay: 0s;
            }
            .bajada {
                margin-bottom: 44px;
                @include transition(all 0.55s ease);
                opacity: 0;
                @include translate(0,-40px);
                transition-delay: 0s;
            }
            .btn-cont {
                padding: 0;
                @include transition(all 0.55s ease);
                opacity: 0;
                @include translate(0,-20px);
                transition-delay: 0s;
                .btn {

                }
            }
            .datos-contacto {
                padding: 52px 0 44px;
                @include transition(all 0.55s ease);
                opacity: 0;
                @include translate(0,20px);
                transition-delay: 0s;
                a {
                    margin: 0 8px 16px;
                    .fa {

                    }

                    span {

                    }
                }
            }
            .fle-abajo {
                width: 104px;
                display: block;
                margin: 0 auto;
                text-align: center;
                position: relative;
                padding: 30px;
                @include transition(all 0.55s ease);
                opacity: 0;
                @include translate(0,40px);
                transition-delay: 0s;
                img {
                    display: block;
                    margin: 0 auto;
                    width: 100%;
                }
            }
        }
        .adorno {
            position: absolute;
            z-index: 2;
            bottom: 0;
            left: 0;
            width: 100vw;
        }
    }
}
.home-slider-cont.in .home-slider {
    .slide.slick-active {
        .cont {
            h1 {
                transition-delay: 0.4s;
                opacity: 1;
                @include translate(0,0);
            }
            .bajada {
                transition-delay: 0.6s;
                opacity: 1;
                @include translate(0,0);
            }
            .btn-cont {
                transition-delay: 0.8s;
                opacity: 1;
                @include translate(0,0);
            }
            .datos-contacto {
                transition-delay: 1s;
                opacity: 1;
                @include translate(0,0);
            }
            .fle-abajo {
                transition-delay: 1.2s;
                opacity: 1;
                @include translate(0,0);
            }
        }
        .tel-horarios {
            opacity: 1;
            @include translate(0,0);
        }
    }
}
.slick-prev, .slick-next {
    display: block;
    width: 35px;
    height: 35px;
    margin-top: -18px;
    text-align: center;
    background-color: rgba(255,255,255,0.3) !important;
    background-position: 50% 50% !important;
    background-size: auto 60% !important;
    background-repeat: no-repeat !important;

    @include transition(all 0.3s ease);
    opacity: 0.5;

    &::before {
        content: '';
        display: none;
    }
}
.slick-prev:hover, .slick-next:hover {
    opacity: 0.85;
}
.slick-prev {
    left: 0;
    background-image: url(/p/img/fle-izq.png) !important;
}
.slick-next {
    right: 0;
    background-image: url(/p/img/fle-der.png) !important;
}
.slick-slider.fle-cafe {
    .slick-prev, .slick-next {
        background-color: rgba(87,75,70,0.1) !important;
        opacity: 0.5;
    }
    .slick-prev {
        background-image: url(/p/img/fle-izq-cafe.png) !important;
    }
    .slick-next {
        background-image: url(/p/img/fle-der-cafe.png) !important;
    }
    .slick-prev:hover, .slick-next:hover {
        opacity: 0.85;
    }
}
#sec_valores {
    padding: 0 0 50px 0;
}
.valores {
    text-align: center;
    .elem {
        color: $cafe;
        width: 24%;
        display: inline-block;
        padding: 0 10px;
        cursor: default;
        .svg-cont {
            padding: 0 0 40px;
            svg {
                height: 100px;
                margin: 0 auto;
                display: block;
                position: relative;
                top: 0;
                cursor: default;
                path {
                    fill: $cafe;
                }
            }
        }
        .titulo {
            cursor: default;
            height: 2rem;
        }
        .bajada {
            cursor: default;
            height: 100px;
            overflow: hidden;
        }
    }
}
.hey-no-touch {
    .valores {
        .elem {
            @include transition(all 0.3s ease);
            top: 0;
            .svg-cont {
                svg {
                    @include scale(1,1);
                    @include transition(all 0.3s ease);
                }
            }
            .titulo {
                @include transition(all 0.3s ease);
            }
            .bajada {
                opacity: 0;
                @include translate(0,30px);
                @include transition(all 0.3s ease);
            }
        }
        .elem:hover {
            .svg-cont {
                svg {
                    @include scale(1.2,1.2);
                    top: -10px;
                }
            }
            .titulo {
                color: $naranja;
            }
            .bajada {
                @include translate(0,0);
                opacity: 0.7;
            }
        }
    }
}

#sec_destacados {
    padding-top: 40px;
    text-align: center;
	h1.tit1 {
        margin-bottom: -100px;
        padding: 0 20px;
	}

	.destacados-slider-cont {

		.destacados-slider {
            margin-bottom: -100px;
			.slide {
                @extend %clearfix;
                position: relative;
                // padding-top: 150px;
                min-height: 660px;
				.cuadro {
                    text-align: left;
                    background: $gris;
                    color: $cafe;
                    padding: 75px;
                    float: right;
                    width: 85vw;
                    position: absolute;
                    right: 0;
                    top: 180px;

					.info {
                        width: 500px;
                        max-width: 100%;
						.tit2 {

						}
						.bajada {
                            margin-bottom: 0;
						}

					}
				}

				.img {
                    position: relative;
                    float: right;
                    height: 660px;
                    margin-right: 100px;
                    z-index: 2;
				}
            }
            .slick-prev {
                left: 15px;
            }
            .slick-next {
                right: 15px;
            }
		}

		.bg-rectangulo {

		}
	}

	.btn-cont {
        padding: 0px 0 0;
		.btn {

		}
	}
}

#sec_videos {
    // padding-bottom: 44px;
    .lista {
        @extend %clearfix;
        .elem {
            @extend %clearfix;
            margin-bottom: 75px;
            position: relative;
            .vid-cont {
                float: left;
                position: relative;
                width: 38%;
                z-index: 2;
                .vid {
                    display: block;
                    text-decoration: none !important;
                    width: 100%;
                    position: relative;
                    height: 22vw;
                    background-position: 50% 50%;
                    background-size: cover;
                    @include transition(all 0.3s ease);
                    @include scale(1,1);

                    img {
                        display: block;
                        width: 50px;
                        height: 50px;
                        position: absolute;
                        left: 50%;
                        margin-left: -25px;
                        top: 50%;
                        margin-top: -25px;
                        z-index: 2;
                        @include transition(all 0.3s ease);
                    }
                    &::before {
                        content: '';
                        z-index: 1;
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background-color: #000;
                        opacity: 0.2;
                        @include transition(all 0.3s ease);
                    }
                }
            }
            .info {
                float: right;
                padding: 0 100px 100px;
                width: 62%;
                z-index: 1;
                position: relative;

                .titulo {

                }

                .bajada {
                    max-width: 100%;
                }
            }
            .adorno {
                position: absolute;
                z-index: 0;
                width: 30vw;
                height: 16vw;
                margin-left: -15vw;
                left: 50%;
                bottom: -10vw;
                background-color: $gris;
            }

            &:nth-child(odd){
                .vid-cont {
                    float: left;
                    .vid {
                        width: 100%;
                        height: 22vw;
                    }
                }
                .info {
                    float: right;
                }
                .adorno {
                    display: block;
                }
            }

            &:nth-child(even){
                .vid-cont {
                    float: right;
                    .vid {
                        width: 70%;
                        height: 16vw;
                    }
                }
                .info {
                    float: left;
                    text-align: right;
                    padding-top: 10vw;
                    .titulo {
                        float: right;
                    }
                    .bajada {
                        float: right;
                    }
                }
                .adorno {
                    display: none;
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.hey-no-touch {
    #sec_videos {
        .lista {
            .elem {
                .vid-cont {
                    .vid {
                    }
                    .vid:hover {
                        @include scale(1.05,1.05);
                        img {
                            @include scale(1.3,1.3);
                        }
                        &::before {
                            opacity: 0.5;
                        }
                    }
                }
            }
        }
    }
}

#sec_mapa {
    background-color: $gris;
    padding-bottom: 0;
	.head {
        position: relative;
        padding-bottom: 65px;
        .izq {
            width: 60%;
            position: relative;
            .tit1 {
                strong {

                }
            }
            .bajada {
                margin-bottom: 0;
            }
        }

        .datos {
            width: 40%;
            text-align: right;
            position: absolute;
            right: 40px;
            bottom: 0;

            .elem {
                text-align: left;
                display: inline-block;
                margin-left: 25px;
                .num {
                    color: $naranja;
                    font-weight: bold;
                    font-size: 25px;
                    margin-bottom: 0;
                }
                .txt {
                    font-size: 0.9em;
                    margin-bottom: 0;
                }
            }
        }
	}

	.mapa-cont {
        background: rgba(0,0,0,0.1);
		#mapa-comercios {
            width: 100%;
            height: 35vw;
        }
        iframe {
            width: 100%;
            height: 35vw;
        }
	}
}

#sec_comercios {
    text-align: center;
    background-color: $gris;
	.txt1 {
        color: $cafe;
        opacity: 0.5;
        font-weight: bold;
        padding: 0 15px;
	}
	.comercios-slider {
        width: 100%;
		.slide {
            position: relative;
            padding: 30px;
			img {
                width: 100%;
                opacity: 0.6;
			}
		}
	}
}

#footer {
    background-color: $cafe2;
    color: $gris;
    a {
        color: $gris;
    }
    .link-cols {
        ul {
            li {
                a {

                }
            }
        }
    }
    .centro {
        text-align: center;
        .tit2 {
            margin-bottom: 0px;
        }
        .btn-cont {
            padding: 35px 0 30px;
        }
        .redes {
            padding-bottom: 15px;
            a {
                padding: 0 3px;
                text-decoration: none !important;
                margin: 0 4px;
                img {
                    height: 23px;
                }
            }
        }
        .derechos {
            font-size: 0.85em;
        }
    }
    .datos-contacto  {
        p {
            position: relative;
            padding-left: 34px;
            .ic {
                width: 1.2rem;
                display: block;
                text-align: center;
                margin-right: 10px;
                position: absolute;
                left: 0px;
                top: 2px;
            }
            .val {
            }
        }
    }
}

#intro {
    min-height: 300px;
    background-color: $dark;
    background-size: cover;
    background-position: 50% 50%;
    color: #fff;
    padding: 0;

    a {
        color: #fff;
    }
    .info {
        padding: 200px 0 160px;
        h1 {
            color: #fff;
            margin-bottom: 30px;
            @include transition(all .4s ease);
            @include translate(44px, 0);
            opacity: 0;
            transition-delay: 0.2s;
        }
        h1.in {
            opacity: 1;
            @include translate(0,0);
        }
        .bajada {
            max-width: 760px;
            @include transition(all .4s ease);
            @include translate(44px, 0);
            opacity: 0;
            transition-delay: 0.4s;
        }
        .bajada.in {
            opacity: 1;
            @include translate(0,0);
        }
        .variedades {
            max-width: 760px;
            @include transition(all .4s ease);
            @include translate(44px, 0);
            opacity: 0;
            transition-delay: 0.4s;
        }
        .variedades.in {
            opacity: 1;
            @include translate(0,0);
        }
    }
    .datos-cont {
        position: relative;
        @include transition(all .4s ease);
        @include translate(0, 44px);
        opacity: 0;
        transition-delay: 0.9s;
        .datos-contacto {
            position: absolute;
            right: 0;
            bottom: 50px;

            a {
                font-size: 1.15rem;
                margin-left: 20px;
                i {
                    margin-right: 5px;
                }
                span {

                }
            }
        }
    }
    .datos-cont.in {
        opacity: 1;
        @include translate(0,0);
    }
}

#page_nosotros {
    padding-top: 0;
}

#nosotros_txt {
    .cont {
        text-align: center;
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 30px;
        color: $cafe;

        .txt1 {

        }
        hr {
            margin: 50px auto 25px;
        }
        .valores2 {
            padding: 40px 0 0;
            .row {
                margin-bottom: 40px;
                .col-sm-4 {
                    p {
                        text-align: left;
                        &.tit {
                            margin-bottom: 15px;
                            font-size: 1.1em;
                        }
                    }
                }
            }
        }
    }
}

#empresa {
    text-align: center;
    background: $gris;
    h1 {
        margin-bottom: 100px;
    }
    #mision_vision {
        padding: 0 0 270px;
        @extend %clearfix;
        .col {
            float: left;
            width: 50%;
            padding: 0 24px;
            text-align: center;

            h2 {
                color: $dark;
            }
            p.bajada {
                color: $dark;
                // font-size: 0.9em;
                opacity: 0.7;
            }
        }
    }
}
#valoresImg {
    margin-top: -280px;
    padding: 0 0 0;
    text-align: center;
    .img-cont {
        max-width: 900px;
        margin: 0 auto;
        padding: 0 20px;
        position: relative;
        .imgs {
            width: 100%;
            height: 400px;
            position: relative;
            z-index: 2;
            .img {
                position: absolute;
                top: 0;
                width: 800px;
                height: 400px;
                left: 50%;
                margin-left: -400px;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: cover;
                @include transition(all 0.4s ease);
                opacity: 0;
                @include translate(0,-24px);

                p {
                    @include transition(all 0.4s ease);
                    opacity: 0;
                    @include translate(0, 24px);
                    transition-delay: 0.2s;
                    text-shadow: 2px 2px rgba(0,0,0, 0.44);
                    font-weight: bold;
                    font-size: 1.3em;
                    line-height: 1.6em;
                    color: #fff;
                    max-width: 90%;
                    margin: 0 auto;
                }
            }
            .img.sel {
                opacity: 1;
                @include translate(0,0);
                p {
                    opacity: 1;
                    @include translate(0,0);
                }
            }
        }
        .cuadro {
            background-color: #fff;
            width: 100%;
            height: 250px;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;
        }
    }
    .valores-cont {
        padding: 80px 20px 84px;
        max-width: 1500px;
        margin: 0 auto;
        .valores {

        }
    }
}
.datos-contacto-snippet {
    text-align: center;
    padding: 50px 0 80px;

    a {
        font-size: 1.15rem;
        margin: 0 20px 15px;
        color: $cafe;
        i {
            margin-right: 5px;
        }
        span {

        }
    }
}

#page_productos {
    padding-top: 0;
}

#filtros {
    padding: 70px 0 0;
    .buscar-cont {
        max-width: 400px;
        margin: 0 auto;
        padding: 0 20px;
        position: relative;
        #buscarField {
            @include border-radius(100px);
            border: 0;
            padding: 10px 15px;
            color: $naranja;
            border: 2px solid $naranja;
            width: 100%;
        }
        i {
            position: absolute;
            right: 36px;
            top: 11px;
            font-size: 22px;
            color: $naranja;
        }
    }
}
#resultados {
    display: none;
    @extend %clearfix;
    padding: 20px 0 70px;
    .res {
        width: 20%;
        height: 25vw;
        float: left;
        text-align: center;
        margin: 0;
        a {
            position: relative;
            display: block;
            margin: 0;
            padding: 20px;
            text-decoration: none !important;
            font-weight: bold;
            img {
                width: 85%;
                display: block;
                margin: 0 auto;
            }
            .nombre {
                display: block;
                margin: 6px 0;
                color: $cafe;
                text-transform: uppercase;
                letter-spacing: 3px;
            }
            .categ {
                display: block;
                font-weight: 100;
                color: $cafe;
                font-size: 0.9rem;
            }
        }
    }
}
.hey-no-touch #resultados {
    .res a {
        img {
            @include transition(all 0.2s ease);
        }
        &:hover {
            img {
                @include scale(1.07,1.07);
            }
        }
    }
}
#noHay {
    display: none;
    padding: 120px 0 0;
    p {
        text-align: center;
        font-size: 1.3rem;
        line-height: 1.5rem;
    }
}
#listaProductos {

}
.lista-productos {
    padding: 60px 0;
	.cat {
        position: relative;
        margin-bottom: 44px;
        border-top: 1px solid $gris;
        padding-top: 40px;
		.tit2 {
            font-size: 1.5rem;
            line-height: 1.5rem;
            margin-bottom: 0;
		}
		.prod-slider {
            position: relative;
			.slide {
                text-align: center;
                margin: 0;
				a {
                    position: relative;
                    display: block;
                    margin: 0;
                    padding: 20px;
                    text-decoration: none !important;
                    font-weight: bold;
					img {
                        width: 85%;
                        display: block;
                        margin: 0 auto;
					}
					.nombre {
                        display: block;
                        margin-top: 6px;
                        color: $cafe;
                        text-transform: uppercase;
                        letter-spacing: 3px;
                    }
                    .categ {
                        display: none;
                    }
				}
			}
		}
	}
}
.hey-no-touch .lista-productos {
    .cat .prod-slider .slide a {
        img {
            @include transition(all 0.2s ease);
        }
        &:hover {
            img {
                @include scale(1.07,1.07);
            }
        }
    }
}

#page_detalle {
    padding-top: 0;

    #intro.intro-detalle {
        position: relative;
        z-index: 20;
        .info {
            max-width: 100%;
            position: relative;
            h1 {

            }
            .bajada {

            }
            .presentacion {
                opacity: 0;
                @include transition(all 0.3s ease);
                @include translate(70px,0);
            }
            .presentacion.in {
                opacity: 0.6;
                @include translate(0,0);
            }
            .regresar-cont {
                opacity: 0;
                @include transition(all 0.3s ease);
                @include translate(70px,0);
                font-size: 0.85em;
                padding: 0 0 25px;
                a {
                    .fa {
                        margin-right: 5px;
                    }
                }
            }
            .regresar-cont.in {
                opacity: 1;
                @include translate(0,0);
            }
        }
        img.img-prod {
            position: absolute;
            top: 90px;
            right: 0;
            max-height: 85vh;
            opacity: 0;
            @include scale(0,0);
            @include transition(all 0.5s ease);
            transition-delay: 0.6s;
        }
        img.img-prod.in {
            @include scale(1,1);
            opacity: 1;
        }
    }
    .barra-gris {
        background-color: $gris;
        position: relative;
        padding: 0px 0 20px;
        min-height: 150px;

        img {
            position: relative;
            display: none;
            margin: -240px auto 0;
            max-width: 100%;
            z-index: 50;
        }
    }
    #otros {
        position: relative;
        text-align: center;
        padding: 80px 0 15px;
        .txt1 {
            margin-bottom: 0;
        }
        .otros-slider {
            width: 100%;

            .slide {
                position: relative;
                padding: 30px;
                img {
                    max-width: 100%;
                }
            }
        }
    }
}

#page_contacto {
    padding-top: 0;
}
#contacto {
    background-position: 50% 50%;
    background-size: cover;
    @extend %clearfix;
    padding: 180px 0 80px;

    .cols {
        @extend %clearfix;
        .col {

            &.formulario {
                // width: 50%;
                // float: right;
                width: 600px;
                padding: 0 20px;
                max-width: 100%;
                margin: 0 auto;
                text-align: center;

                .datos {
                    padding: 0 0 20px;
                    color: #fff;
                    a {
                        color: #fff;
                        margin: 0 8px;
                    }
                }
                .dir {
                    color: #fff;
                    font-size: 0.9em;
                    margin: 0 auto 34px;
                    .fa {
                        margin-right: 4px;
                    }
                }
                .form {

                    .solid-form {

                        .elem {
                            margin-bottom: 10px;
                            .field {
                                background-color: #fff;
                                border: 0;
                                @include border-radius(10px);
                                padding: 10px;
                                width: 100%;
                                border: 2px solid #fff;
                                @include transition(all 0.3s ease);
                            }
                            .field:focus {
                                border-color: $naranja;
                                @include scale(1.05,1.05);
                            }
                        }
                        .btn-cont {

                        }
                    }
                }
                .recaptcha-cont {
                    padding-top: 15px;
                    .g-recaptcha > div {
                        margin: 0 auto;
                    }
                }
            }
            // &.mapa {
            //     width: 50%;
            //     float: left;
            //     #mapaContacto {

            //     }
            // }
        }
    }
}

.video-modal {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4000;
    .cerrar {
        position: fixed;
        top: 7px;
        right: 13px;
        color: #fff;
        z-index: 4003;
        padding: 7px;
    }
	.bg {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 4001;
        background: rgba(0,0,0,0.8);
	}
	.cuadro {
        @include border-radius(8px);
        // background: #000;
        // padding: 30px;
        position: fixed;
        z-index: 4002;
        top: 50px;
        left: 50%;
        width: 70%;
        margin-left: -35%;
        // height: 100vh;
		.cont {
            position: relative;

			iframe {
                width: 100%;
                height: calc(100vh - 100px);
			}
		}
	}
}

.whatsapp-btn {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 150;
    padding: 28px 34px;

    a.link {
        display: inline-block;
        text-decoration: none !important;
        @include border-radius(200px);
        width: 55px;
        height: 55px;
        overflow: hidden;
        position: relative;
        padding: 6px;
        background: #fff;

        img {
            width: 100%;
        }
    }
}
@media only screen and (max-width: 768px) {
    .whatsapp-btn {
        padding: 15px 15px;
    }
}

.hp-field {
    display: inline !important;
    width: 0 !important;
    overflow: hidden !important;
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    visibility: hidden !important;
    line-height: 0 !important;
}
