#sec_destacados .destacados-slider-cont .destacados-slider .slide, #sec_videos .lista, #sec_videos .lista .elem, #empresa #mision_vision, #resultados, #contacto, #contacto .cols {
  *zoom: 1; }
  #sec_destacados .destacados-slider-cont .destacados-slider .slide:before, #sec_videos .lista:before, #sec_videos .lista .elem:before, #empresa #mision_vision:before, #resultados:before, #contacto:before, #contacto .cols:before, #sec_destacados .destacados-slider-cont .destacados-slider .slide:after, #sec_videos .lista:after, #sec_videos .lista .elem:after, #empresa #mision_vision:after, #resultados:after, #contacto:after, #contacto .cols:after {
    content: " ";
    display: table; }
  #sec_destacados .destacados-slider-cont .destacados-slider .slide:after, #sec_videos .lista:after, #sec_videos .lista .elem:after, #empresa #mision_vision:after, #resultados:after, #contacto:after, #contacto .cols:after {
    clear: both; }

/* .container-with-floated-children {
 	@extend %clearfix;
} */
/*
input,  
textarea {  
    @include input-placeholder {
        color: $grey;
    }
}
*/
/*@mixin scale($args) {
    -ms-transform: scale($args);
    -webkit-transform: scale($args);
    transform: scale($args);
}*/
/* EJEMPLO:
.sidebar {
	width: 60%;
	float: left;
	margin: 0 2% 0 0;
	@include bp-small {
		width: 100%;
		float: none;
		margin: 0;
	}
}
*/
/*
@include keyframes(slide-down) {
	0% { opacity: 1; }
	90% { opacity: 0; }
}
.element {
	width: 100px;
	height: 100px;
	background: black;
	@include animation('slide-down 5s 3');
}
*/
/* EJEMPLO:
a {
  color: gray;
  @include transition(color .3s ease);
  &:hover {
    color: black;
  }
}
transition: <property> || <duration> || <timing-function> || <delay> [, ...];

Note that the duration must come before the delay if the latter is specified. Individual transitions combined in shorthand declarations:

-webkit-transition: height 0.3s ease-out, opacity 0.3s ease 0.5s;
-moz-transition: height 0.3s ease-out, opacity 0.3s ease 0.5s;
-ms-transition: height 0.3s ease-out, opacity 0.3s ease 0.5s;
-o-transition: height 0.3s ease-out, opacity 0.3s ease 0.5s;
transition: height 0.3s ease-out, opacity 0.3s ease 0.5s;
*/
html {
  font-size: 16px;
  line-height: 23px;
  font-family: 'Fira Sans', 'Helvetica', 'Arial', sans-serif;
  color: #424241; }

body {
  background-color: #ffffff;
  font: inherit;
  overflow-x: hidden !important;
  margin: 0 !important;
  color: #424241; }

a {
  color: #000;
  outline: none; }

a:hover {
  opacity: 1;
  color: #000; }

.m {
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 40px;
  position: relative; }

.m2 {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 40px;
  position: relative; }

h1, h2, h3, h4 {
  font-size: 1rem;
  line-height: 1rem;
  margin: 0;
  margin-bottom: 1rem; }

#sidemenu_btn {
  display: none;
  position: fixed;
  right: 40px;
  top: 21px;
  width: 24px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -ms-transform: translate(44px, 0);
  -webkit-transform: translate(44px, 0);
  transform: translate(44px, 0);
  opacity: 0;
  transition-delay: 0.2s; }
  #sidemenu_btn span {
    background-color: #fff;
    border-radius: 50px; }
  #sidemenu_btn.open span {
    background-color: #fff; }
  #sidemenu_btn.right {
    right: 40px; }

#sidemenu_btn.in {
  opacity: 1;
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }

#sidemenu.right {
  width: 400px;
  right: -400px; }
  #sidemenu.right #sidemenu_panel {
    width: 400px;
    background-color: #f79e20;
    padding-left: 30px; }
    #sidemenu.right #sidemenu_panel ul li {
      margin-bottom: 15px; }
      #sidemenu.right #sidemenu_panel ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
        padding: 10px 0 5px; }
        #sidemenu.right #sidemenu_panel ul li a.afx::after {
          background-color: #fff; }
      #sidemenu.right #sidemenu_panel ul li.redes-li {
        display: none; }

#loading {
  background-color: #202021;
  color: #202021; }
  #loading .cont .loader img.logo {
    opacity: 1;
    margin-bottom: 40px; }
  #loading .cont .loader .sk-wave .sk-rect {
    background: #fff; }
  #loading.ajax {
    z-index: 99; }

.cali {
  font-family: 'Satisfy', sans-serif; }

.btn, .btn:visited {
  display: inline-block;
  padding: 0.6rem 1.7rem;
  background-color: #f79e20;
  color: #fff;
  overflow: hidden;
  position: relative;
  border: 0;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  background-clip: padding-box;
  text-decoration: none !important;
  font-weight: bold;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .btn:hover, .btn:visited:hover {
    color: #fff;
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1); }

.btn.naranja {
  background-color: #f79e20;
  color: #fff; }
  .btn.naranja:hover {
    background-color: #f78120; }

.btn.blanco {
  background-color: #fff;
  color: #f79e20; }

.btn.negro {
  background-color: #424241;
  color: #fff; }

.btn.rojo {
  background-color: #d32027;
  color: #fff; }

hr {
  display: block;
  margin: 0 auto;
  width: 100%;
  border: 0;
  height: 1px;
  background-color: #f7f3f2; }

.btn-cont {
  padding: 30px 0; }

.sec {
  padding: 90px 0; }

.italic {
  font-style: italic; }

.tit-huge {
  font-family: 'Oswald', 'Helvetica', 'Arial', sans-serif;
  font-size: 90px;
  line-height: 100px;
  margin-bottom: 50px; }

.tit1 {
  font-size: 2rem;
  line-height: 2.6rem;
  font-weight: bold;
  color: #f79e20;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 2rem; }

.txt1 {
  font-size: 1.3em;
  line-height: 1.6em; }

.rojo {
  color: #d32027; }

.naranja {
  color: #f79e20; }

.tit2 {
  font-weight: bold;
  font-size: 16px;
  line-height: 17px;
  text-transform: uppercase;
  letter-spacing: 3px; }

p {
  margin-bottom: 1.5em; }

.pagination {
  text-align: center;
  padding: 44px 20px; }
  .pagination .disabled {
    display: none; }
  .pagination li {
    display: inline-block;
    border: 1px solid #f7f3f2; }
    .pagination li a {
      display: block;
      color: #f79e20;
      padding: 4px 12px;
      text-decoration: none !important; }
      .pagination li a:hover {
        background-color: #f7f3f2; }
    .pagination li.active span {
      padding: 4px 12px;
      display: block;
      font-weight: bold;
      color: #d32027;
      cursor: default; }

.alerta {
  background: #f79e20;
  color: #fff; }

#header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  padding: 0;
  overflow: visible;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease; }
  #header .logo {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    opacity: 0;
    -ms-transform: translate(-44px, 0);
    -webkit-transform: translate(-44px, 0);
    transform: translate(-44px, 0);
    transition-delay: 0.2s;
    height: calc(120px - 20px);
    position: relative; }
    #header .logo img {
      height: calc(120px - 20px);
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease;
      position: relative;
      top: 10px; }
  #header .logo.in {
    opacity: 1;
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  #header .desktop-nav {
    float: right;
    padding: 35px 0 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    #header .desktop-nav li {
      display: inline-block; }
      #header .desktop-nav li a.pri {
        display: block;
        padding: 10px;
        text-transform: capitalize;
        font-weight: bold;
        text-decoration: none !important;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
        opacity: 0.8;
        color: #fff; }
        #header .desktop-nav li a.pri:hover {
          opacity: 1; }
      #header .desktop-nav li.redes-li {
        position: relative;
        padding-left: 15px;
        margin-left: 10px; }
        #header .desktop-nav li.redes-li::before {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 2px;
          width: 1px;
          height: 20px;
          background-color: #fff;
          opacity: 0.2; }
        #header .desktop-nav li.redes-li .redes {
          position: relative;
          top: -2px; }
          #header .desktop-nav li.redes-li .redes a {
            display: inline-block;
            margin-left: 10px;
            opacity: 0.7;
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -ms-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease; }
            #header .desktop-nav li.redes-li .redes a img {
              height: 18px; }
            #header .desktop-nav li.redes-li .redes a:first-child {
              margin-left: 5px; }
            #header .desktop-nav li.redes-li .redes a:hover {
              opacity: 1; }
    #header .desktop-nav li.active a {
      color: #f79e20;
      position: relative;
      -ms-transform: translate(0, -2px);
      -webkit-transform: translate(0, -2px);
      transform: translate(0, -2px); }
      #header .desktop-nav li.active a::after {
        content: '';
        display: block;
        position: absolute;
        width: 8px;
        height: 8px;
        bottom: -7px;
        left: 50%;
        margin-left: -4px;
        background-color: #f79e20;
        -webkit-border-radius: 50px;
        border-radius: 50px;
        background-clip: padding-box; }

#header.compact {
  height: 80px;
  background-color: rgba(0, 0, 0, 0.65);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  #header.compact .logo img {
    height: calc(80px - 5px);
    top: 0px; }
  #header.compact .desktop-nav {
    padding: 15px 0 0; }
  #header.compact .tel-cont {
    padding: 7px 0; }

.page {
  padding-top: 120px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.page.compact {
  padding-top: 80px; }

#page_home.page {
  padding-top: 0; }

#sec_intro {
  padding-top: 0; }

#page_error {
  min-height: 100vh;
  text-align: center; }
  #page_error .cont {
    padding: 80px 0 0;
    max-width: 800px;
    margin: 0 auto; }
    #page_error .cont h1 {
      margin-bottom: 50px; }
    #page_error .cont .btn {
      margin: 0 10px 20px; }

a.hvr-float, a.hvr-grow {
  text-decoration: none !important; }

#sec_intro .adorno2 {
  position: relative;
  width: 100%;
  display: block;
  margin-top: -9vw;
  z-index: 1;
  height: 11vw; }

.home-slider {
  position: relative;
  z-index: 2; }
  .home-slider .slide {
    width: 100%;
    height: 95vh;
    position: relative; }
    .home-slider .slide a {
      color: #fff; }
    .home-slider .slide .bg {
      width: 100%;
      height: 95vh;
      position: absolute;
      z-index: 0;
      background-position: 50% 50%;
      background-size: cover; }
    .home-slider .slide .bg-overlay {
      width: 100%;
      height: 95vh;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      background: rgba(0, 0, 0, 0.3); }
    .home-slider .slide .cont {
      position: relative;
      height: 95vh;
      z-index: 3;
      text-align: center;
      max-width: 1130px;
      margin: 0 auto;
      padding: 120px 20px 0;
      color: #fff; }
      .home-slider .slide .cont h1 {
        margin-bottom: 44px;
        -webkit-transition: all 0.55s ease;
        -moz-transition: all 0.55s ease;
        -ms-transition: all 0.55s ease;
        -o-transition: all 0.55s ease;
        transition: all 0.55s ease;
        opacity: 0;
        -ms-transform: translate(0, -60px);
        -webkit-transform: translate(0, -60px);
        transform: translate(0, -60px);
        transition-delay: 0s; }
      .home-slider .slide .cont .bajada {
        margin-bottom: 44px;
        -webkit-transition: all 0.55s ease;
        -moz-transition: all 0.55s ease;
        -ms-transition: all 0.55s ease;
        -o-transition: all 0.55s ease;
        transition: all 0.55s ease;
        opacity: 0;
        -ms-transform: translate(0, -40px);
        -webkit-transform: translate(0, -40px);
        transform: translate(0, -40px);
        transition-delay: 0s; }
      .home-slider .slide .cont .btn-cont {
        padding: 0;
        -webkit-transition: all 0.55s ease;
        -moz-transition: all 0.55s ease;
        -ms-transition: all 0.55s ease;
        -o-transition: all 0.55s ease;
        transition: all 0.55s ease;
        opacity: 0;
        -ms-transform: translate(0, -20px);
        -webkit-transform: translate(0, -20px);
        transform: translate(0, -20px);
        transition-delay: 0s; }
      .home-slider .slide .cont .datos-contacto {
        padding: 52px 0 44px;
        -webkit-transition: all 0.55s ease;
        -moz-transition: all 0.55s ease;
        -ms-transition: all 0.55s ease;
        -o-transition: all 0.55s ease;
        transition: all 0.55s ease;
        opacity: 0;
        -ms-transform: translate(0, 20px);
        -webkit-transform: translate(0, 20px);
        transform: translate(0, 20px);
        transition-delay: 0s; }
        .home-slider .slide .cont .datos-contacto a {
          margin: 0 8px 16px; }
      .home-slider .slide .cont .fle-abajo {
        width: 104px;
        display: block;
        margin: 0 auto;
        text-align: center;
        position: relative;
        padding: 30px;
        -webkit-transition: all 0.55s ease;
        -moz-transition: all 0.55s ease;
        -ms-transition: all 0.55s ease;
        -o-transition: all 0.55s ease;
        transition: all 0.55s ease;
        opacity: 0;
        -ms-transform: translate(0, 40px);
        -webkit-transform: translate(0, 40px);
        transform: translate(0, 40px);
        transition-delay: 0s; }
        .home-slider .slide .cont .fle-abajo img {
          display: block;
          margin: 0 auto;
          width: 100%; }
    .home-slider .slide .adorno {
      position: absolute;
      z-index: 2;
      bottom: 0;
      left: 0;
      width: 100vw; }

.home-slider-cont.in .home-slider .slide.slick-active .cont h1 {
  transition-delay: 0.4s;
  opacity: 1;
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }

.home-slider-cont.in .home-slider .slide.slick-active .cont .bajada {
  transition-delay: 0.6s;
  opacity: 1;
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }

.home-slider-cont.in .home-slider .slide.slick-active .cont .btn-cont {
  transition-delay: 0.8s;
  opacity: 1;
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }

.home-slider-cont.in .home-slider .slide.slick-active .cont .datos-contacto {
  transition-delay: 1s;
  opacity: 1;
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }

.home-slider-cont.in .home-slider .slide.slick-active .cont .fle-abajo {
  transition-delay: 1.2s;
  opacity: 1;
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }

.home-slider-cont.in .home-slider .slide.slick-active .tel-horarios {
  opacity: 1;
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }

.slick-prev, .slick-next {
  display: block;
  width: 35px;
  height: 35px;
  margin-top: -18px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3) !important;
  background-position: 50% 50% !important;
  background-size: auto 60% !important;
  background-repeat: no-repeat !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0.5; }
  .slick-prev::before, .slick-next::before {
    content: '';
    display: none; }

.slick-prev:hover, .slick-next:hover {
  opacity: 0.85; }

.slick-prev {
  left: 0;
  background-image: url(../../p/img/fle-izq.png) !important; }

.slick-next {
  right: 0;
  background-image: url(../../p/img/fle-der.png) !important; }

.slick-slider.fle-cafe .slick-prev, .slick-slider.fle-cafe .slick-next {
  background-color: rgba(87, 75, 70, 0.1) !important;
  opacity: 0.5; }

.slick-slider.fle-cafe .slick-prev {
  background-image: url(../../p/img/fle-izq-cafe.png) !important; }

.slick-slider.fle-cafe .slick-next {
  background-image: url(../../p/img/fle-der-cafe.png) !important; }

.slick-slider.fle-cafe .slick-prev:hover, .slick-slider.fle-cafe .slick-next:hover {
  opacity: 0.85; }

#sec_valores {
  padding: 0 0 50px 0; }

.valores {
  text-align: center; }
  .valores .elem {
    color: #6e5c53;
    width: 24%;
    display: inline-block;
    padding: 0 10px;
    cursor: default; }
    .valores .elem .svg-cont {
      padding: 0 0 40px; }
      .valores .elem .svg-cont svg {
        height: 100px;
        margin: 0 auto;
        display: block;
        position: relative;
        top: 0;
        cursor: default; }
        .valores .elem .svg-cont svg path {
          fill: #6e5c53; }
    .valores .elem .titulo {
      cursor: default;
      height: 2rem; }
    .valores .elem .bajada {
      cursor: default;
      height: 100px;
      overflow: hidden; }

.hey-no-touch .valores .elem {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  top: 0; }
  .hey-no-touch .valores .elem .svg-cont svg {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .hey-no-touch .valores .elem .titulo {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .hey-no-touch .valores .elem .bajada {
    opacity: 0;
    -ms-transform: translate(0, 30px);
    -webkit-transform: translate(0, 30px);
    transform: translate(0, 30px);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }

.hey-no-touch .valores .elem:hover .svg-cont svg {
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
  top: -10px; }

.hey-no-touch .valores .elem:hover .titulo {
  color: #f79e20; }

.hey-no-touch .valores .elem:hover .bajada {
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 0.7; }

#sec_destacados {
  padding-top: 40px;
  text-align: center; }
  #sec_destacados h1.tit1 {
    margin-bottom: -100px;
    padding: 0 20px; }
  #sec_destacados .destacados-slider-cont .destacados-slider {
    margin-bottom: -100px; }
    #sec_destacados .destacados-slider-cont .destacados-slider .slide {
      position: relative;
      min-height: 660px; }
      #sec_destacados .destacados-slider-cont .destacados-slider .slide .cuadro {
        text-align: left;
        background: #f7f3f2;
        color: #6e5c53;
        padding: 75px;
        float: right;
        width: 85vw;
        position: absolute;
        right: 0;
        top: 180px; }
        #sec_destacados .destacados-slider-cont .destacados-slider .slide .cuadro .info {
          width: 500px;
          max-width: 100%; }
          #sec_destacados .destacados-slider-cont .destacados-slider .slide .cuadro .info .bajada {
            margin-bottom: 0; }
      #sec_destacados .destacados-slider-cont .destacados-slider .slide .img {
        position: relative;
        float: right;
        height: 660px;
        margin-right: 100px;
        z-index: 2; }
    #sec_destacados .destacados-slider-cont .destacados-slider .slick-prev {
      left: 15px; }
    #sec_destacados .destacados-slider-cont .destacados-slider .slick-next {
      right: 15px; }
  #sec_destacados .btn-cont {
    padding: 0px 0 0; }

#sec_videos .lista .elem {
  margin-bottom: 75px;
  position: relative; }
  #sec_videos .lista .elem .vid-cont {
    float: left;
    position: relative;
    width: 38%;
    z-index: 2; }
    #sec_videos .lista .elem .vid-cont .vid {
      display: block;
      text-decoration: none !important;
      width: 100%;
      position: relative;
      height: 22vw;
      background-position: 50% 50%;
      background-size: cover;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      -ms-transform: scale(1, 1);
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1); }
      #sec_videos .lista .elem .vid-cont .vid img {
        display: block;
        width: 50px;
        height: 50px;
        position: absolute;
        left: 50%;
        margin-left: -25px;
        top: 50%;
        margin-top: -25px;
        z-index: 2;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
      #sec_videos .lista .elem .vid-cont .vid::before {
        content: '';
        z-index: 1;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.2;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
  #sec_videos .lista .elem .info {
    float: right;
    padding: 0 100px 100px;
    width: 62%;
    z-index: 1;
    position: relative; }
    #sec_videos .lista .elem .info .bajada {
      max-width: 100%; }
  #sec_videos .lista .elem .adorno {
    position: absolute;
    z-index: 0;
    width: 30vw;
    height: 16vw;
    margin-left: -15vw;
    left: 50%;
    bottom: -10vw;
    background-color: #f7f3f2; }
  #sec_videos .lista .elem:nth-child(odd) .vid-cont {
    float: left; }
    #sec_videos .lista .elem:nth-child(odd) .vid-cont .vid {
      width: 100%;
      height: 22vw; }
  #sec_videos .lista .elem:nth-child(odd) .info {
    float: right; }
  #sec_videos .lista .elem:nth-child(odd) .adorno {
    display: block; }
  #sec_videos .lista .elem:nth-child(even) .vid-cont {
    float: right; }
    #sec_videos .lista .elem:nth-child(even) .vid-cont .vid {
      width: 70%;
      height: 16vw; }
  #sec_videos .lista .elem:nth-child(even) .info {
    float: left;
    text-align: right;
    padding-top: 10vw; }
    #sec_videos .lista .elem:nth-child(even) .info .titulo {
      float: right; }
    #sec_videos .lista .elem:nth-child(even) .info .bajada {
      float: right; }
  #sec_videos .lista .elem:nth-child(even) .adorno {
    display: none; }
  #sec_videos .lista .elem:last-child {
    margin-bottom: 0; }

.hey-no-touch #sec_videos .lista .elem .vid-cont .vid:hover {
  -ms-transform: scale(1.05, 1.05);
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05); }
  .hey-no-touch #sec_videos .lista .elem .vid-cont .vid:hover img {
    -ms-transform: scale(1.3, 1.3);
    -webkit-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3); }
  .hey-no-touch #sec_videos .lista .elem .vid-cont .vid:hover::before {
    opacity: 0.5; }

#sec_mapa {
  background-color: #f7f3f2;
  padding-bottom: 0; }
  #sec_mapa .head {
    position: relative;
    padding-bottom: 65px; }
    #sec_mapa .head .izq {
      width: 60%;
      position: relative; }
      #sec_mapa .head .izq .bajada {
        margin-bottom: 0; }
    #sec_mapa .head .datos {
      width: 40%;
      text-align: right;
      position: absolute;
      right: 40px;
      bottom: 0; }
      #sec_mapa .head .datos .elem {
        text-align: left;
        display: inline-block;
        margin-left: 25px; }
        #sec_mapa .head .datos .elem .num {
          color: #f79e20;
          font-weight: bold;
          font-size: 25px;
          margin-bottom: 0; }
        #sec_mapa .head .datos .elem .txt {
          font-size: 0.9em;
          margin-bottom: 0; }
  #sec_mapa .mapa-cont {
    background: rgba(0, 0, 0, 0.1); }
    #sec_mapa .mapa-cont #mapa-comercios {
      width: 100%;
      height: 35vw; }
    #sec_mapa .mapa-cont iframe {
      width: 100%;
      height: 35vw; }

#sec_comercios {
  text-align: center;
  background-color: #f7f3f2; }
  #sec_comercios .txt1 {
    color: #6e5c53;
    opacity: 0.5;
    font-weight: bold;
    padding: 0 15px; }
  #sec_comercios .comercios-slider {
    width: 100%; }
    #sec_comercios .comercios-slider .slide {
      position: relative;
      padding: 30px; }
      #sec_comercios .comercios-slider .slide img {
        width: 100%;
        opacity: 0.6; }

#footer {
  background-color: #363230;
  color: #f7f3f2; }
  #footer a {
    color: #f7f3f2; }
  #footer .centro {
    text-align: center; }
    #footer .centro .tit2 {
      margin-bottom: 0px; }
    #footer .centro .btn-cont {
      padding: 35px 0 30px; }
    #footer .centro .redes {
      padding-bottom: 15px; }
      #footer .centro .redes a {
        padding: 0 3px;
        text-decoration: none !important;
        margin: 0 4px; }
        #footer .centro .redes a img {
          height: 23px; }
    #footer .centro .derechos {
      font-size: 0.85em; }
  #footer .datos-contacto p {
    position: relative;
    padding-left: 34px; }
    #footer .datos-contacto p .ic {
      width: 1.2rem;
      display: block;
      text-align: center;
      margin-right: 10px;
      position: absolute;
      left: 0px;
      top: 2px; }

#intro {
  min-height: 300px;
  background-color: #424241;
  background-size: cover;
  background-position: 50% 50%;
  color: #fff;
  padding: 0; }
  #intro a {
    color: #fff; }
  #intro .info {
    padding: 200px 0 160px; }
    #intro .info h1 {
      color: #fff;
      margin-bottom: 30px;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease;
      -ms-transform: translate(44px, 0);
      -webkit-transform: translate(44px, 0);
      transform: translate(44px, 0);
      opacity: 0;
      transition-delay: 0.2s; }
    #intro .info h1.in {
      opacity: 1;
      -ms-transform: translate(0, 0);
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0); }
    #intro .info .bajada {
      max-width: 760px;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease;
      -ms-transform: translate(44px, 0);
      -webkit-transform: translate(44px, 0);
      transform: translate(44px, 0);
      opacity: 0;
      transition-delay: 0.4s; }
    #intro .info .bajada.in {
      opacity: 1;
      -ms-transform: translate(0, 0);
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0); }
    #intro .info .variedades {
      max-width: 760px;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease;
      -ms-transform: translate(44px, 0);
      -webkit-transform: translate(44px, 0);
      transform: translate(44px, 0);
      opacity: 0;
      transition-delay: 0.4s; }
    #intro .info .variedades.in {
      opacity: 1;
      -ms-transform: translate(0, 0);
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0); }
  #intro .datos-cont {
    position: relative;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -ms-transform: translate(0, 44px);
    -webkit-transform: translate(0, 44px);
    transform: translate(0, 44px);
    opacity: 0;
    transition-delay: 0.9s; }
    #intro .datos-cont .datos-contacto {
      position: absolute;
      right: 0;
      bottom: 50px; }
      #intro .datos-cont .datos-contacto a {
        font-size: 1.15rem;
        margin-left: 20px; }
        #intro .datos-cont .datos-contacto a i {
          margin-right: 5px; }
  #intro .datos-cont.in {
    opacity: 1;
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }

#page_nosotros {
  padding-top: 0; }

#nosotros_txt .cont {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 30px;
  color: #6e5c53; }
  #nosotros_txt .cont hr {
    margin: 50px auto 25px; }
  #nosotros_txt .cont .valores2 {
    padding: 40px 0 0; }
    #nosotros_txt .cont .valores2 .row {
      margin-bottom: 40px; }
      #nosotros_txt .cont .valores2 .row .col-sm-4 p {
        text-align: left; }
        #nosotros_txt .cont .valores2 .row .col-sm-4 p.tit {
          margin-bottom: 15px;
          font-size: 1.1em; }

#empresa {
  text-align: center;
  background: #f7f3f2; }
  #empresa h1 {
    margin-bottom: 100px; }
  #empresa #mision_vision {
    padding: 0 0 270px; }
    #empresa #mision_vision .col {
      float: left;
      width: 50%;
      padding: 0 24px;
      text-align: center; }
      #empresa #mision_vision .col h2 {
        color: #424241; }
      #empresa #mision_vision .col p.bajada {
        color: #424241;
        opacity: 0.7; }

#valoresImg {
  margin-top: -280px;
  padding: 0 0 0;
  text-align: center; }
  #valoresImg .img-cont {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative; }
    #valoresImg .img-cont .imgs {
      width: 100%;
      height: 400px;
      position: relative;
      z-index: 2; }
      #valoresImg .img-cont .imgs .img {
        position: absolute;
        top: 0;
        width: 800px;
        height: 400px;
        left: 50%;
        margin-left: -400px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
        opacity: 0;
        -ms-transform: translate(0, -24px);
        -webkit-transform: translate(0, -24px);
        transform: translate(0, -24px); }
        #valoresImg .img-cont .imgs .img p {
          -webkit-transition: all 0.4s ease;
          -moz-transition: all 0.4s ease;
          -ms-transition: all 0.4s ease;
          -o-transition: all 0.4s ease;
          transition: all 0.4s ease;
          opacity: 0;
          -ms-transform: translate(0, 24px);
          -webkit-transform: translate(0, 24px);
          transform: translate(0, 24px);
          transition-delay: 0.2s;
          text-shadow: 2px 2px rgba(0, 0, 0, 0.44);
          font-weight: bold;
          font-size: 1.3em;
          line-height: 1.6em;
          color: #fff;
          max-width: 90%;
          margin: 0 auto; }
      #valoresImg .img-cont .imgs .img.sel {
        opacity: 1;
        -ms-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0); }
        #valoresImg .img-cont .imgs .img.sel p {
          opacity: 1;
          -ms-transform: translate(0, 0);
          -webkit-transform: translate(0, 0);
          transform: translate(0, 0); }
    #valoresImg .img-cont .cuadro {
      background-color: #fff;
      width: 100%;
      height: 250px;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1; }
  #valoresImg .valores-cont {
    padding: 80px 20px 84px;
    max-width: 1500px;
    margin: 0 auto; }

.datos-contacto-snippet {
  text-align: center;
  padding: 50px 0 80px; }
  .datos-contacto-snippet a {
    font-size: 1.15rem;
    margin: 0 20px 15px;
    color: #6e5c53; }
    .datos-contacto-snippet a i {
      margin-right: 5px; }

#page_productos {
  padding-top: 0; }

#filtros {
  padding: 70px 0 0; }
  #filtros .buscar-cont {
    max-width: 400px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative; }
    #filtros .buscar-cont #buscarField {
      -webkit-border-radius: 100px;
      border-radius: 100px;
      background-clip: padding-box;
      border: 0;
      padding: 10px 15px;
      color: #f79e20;
      border: 2px solid #f79e20;
      width: 100%; }
    #filtros .buscar-cont i {
      position: absolute;
      right: 36px;
      top: 11px;
      font-size: 22px;
      color: #f79e20; }

#resultados {
  display: none;
  padding: 20px 0 70px; }
  #resultados .res {
    width: 20%;
    height: 25vw;
    float: left;
    text-align: center;
    margin: 0; }
    #resultados .res a {
      position: relative;
      display: block;
      margin: 0;
      padding: 20px;
      text-decoration: none !important;
      font-weight: bold; }
      #resultados .res a img {
        width: 85%;
        display: block;
        margin: 0 auto; }
      #resultados .res a .nombre {
        display: block;
        margin: 6px 0;
        color: #6e5c53;
        text-transform: uppercase;
        letter-spacing: 3px; }
      #resultados .res a .categ {
        display: block;
        font-weight: 100;
        color: #6e5c53;
        font-size: 0.9rem; }

.hey-no-touch #resultados .res a img {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.hey-no-touch #resultados .res a:hover img {
  -ms-transform: scale(1.07, 1.07);
  -webkit-transform: scale(1.07, 1.07);
  transform: scale(1.07, 1.07); }

#noHay {
  display: none;
  padding: 120px 0 0; }
  #noHay p {
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.5rem; }

.lista-productos {
  padding: 60px 0; }
  .lista-productos .cat {
    position: relative;
    margin-bottom: 44px;
    border-top: 1px solid #f7f3f2;
    padding-top: 40px; }
    .lista-productos .cat .tit2 {
      font-size: 1.5rem;
      line-height: 1.5rem;
      margin-bottom: 0; }
    .lista-productos .cat .prod-slider {
      position: relative; }
      .lista-productos .cat .prod-slider .slide {
        text-align: center;
        margin: 0; }
        .lista-productos .cat .prod-slider .slide a {
          position: relative;
          display: block;
          margin: 0;
          padding: 20px;
          text-decoration: none !important;
          font-weight: bold; }
          .lista-productos .cat .prod-slider .slide a img {
            width: 85%;
            display: block;
            margin: 0 auto; }
          .lista-productos .cat .prod-slider .slide a .nombre {
            display: block;
            margin-top: 6px;
            color: #6e5c53;
            text-transform: uppercase;
            letter-spacing: 3px; }
          .lista-productos .cat .prod-slider .slide a .categ {
            display: none; }

.hey-no-touch .lista-productos .cat .prod-slider .slide a img {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.hey-no-touch .lista-productos .cat .prod-slider .slide a:hover img {
  -ms-transform: scale(1.07, 1.07);
  -webkit-transform: scale(1.07, 1.07);
  transform: scale(1.07, 1.07); }

#page_detalle {
  padding-top: 0; }
  #page_detalle #intro.intro-detalle {
    position: relative;
    z-index: 20; }
    #page_detalle #intro.intro-detalle .info {
      max-width: 100%;
      position: relative; }
      #page_detalle #intro.intro-detalle .info .presentacion {
        opacity: 0;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        -ms-transform: translate(70px, 0);
        -webkit-transform: translate(70px, 0);
        transform: translate(70px, 0); }
      #page_detalle #intro.intro-detalle .info .presentacion.in {
        opacity: 0.6;
        -ms-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0); }
      #page_detalle #intro.intro-detalle .info .regresar-cont {
        opacity: 0;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        -ms-transform: translate(70px, 0);
        -webkit-transform: translate(70px, 0);
        transform: translate(70px, 0);
        font-size: 0.85em;
        padding: 0 0 25px; }
        #page_detalle #intro.intro-detalle .info .regresar-cont a .fa {
          margin-right: 5px; }
      #page_detalle #intro.intro-detalle .info .regresar-cont.in {
        opacity: 1;
        -ms-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0); }
    #page_detalle #intro.intro-detalle img.img-prod {
      position: absolute;
      top: 90px;
      right: 0;
      max-height: 85vh;
      opacity: 0;
      -ms-transform: scale(0, 0);
      -webkit-transform: scale(0, 0);
      transform: scale(0, 0);
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      transition-delay: 0.6s; }
    #page_detalle #intro.intro-detalle img.img-prod.in {
      -ms-transform: scale(1, 1);
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
      opacity: 1; }
  #page_detalle .barra-gris {
    background-color: #f7f3f2;
    position: relative;
    padding: 0px 0 20px;
    min-height: 150px; }
    #page_detalle .barra-gris img {
      position: relative;
      display: none;
      margin: -240px auto 0;
      max-width: 100%;
      z-index: 50; }
  #page_detalle #otros {
    position: relative;
    text-align: center;
    padding: 80px 0 15px; }
    #page_detalle #otros .txt1 {
      margin-bottom: 0; }
    #page_detalle #otros .otros-slider {
      width: 100%; }
      #page_detalle #otros .otros-slider .slide {
        position: relative;
        padding: 30px; }
        #page_detalle #otros .otros-slider .slide img {
          max-width: 100%; }

#page_contacto {
  padding-top: 0; }

#contacto {
  background-position: 50% 50%;
  background-size: cover;
  padding: 180px 0 80px; }
  #contacto .cols .col.formulario {
    width: 600px;
    padding: 0 20px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center; }
    #contacto .cols .col.formulario .datos {
      padding: 0 0 20px;
      color: #fff; }
      #contacto .cols .col.formulario .datos a {
        color: #fff;
        margin: 0 8px; }
    #contacto .cols .col.formulario .dir {
      color: #fff;
      font-size: 0.9em;
      margin: 0 auto 34px; }
      #contacto .cols .col.formulario .dir .fa {
        margin-right: 4px; }
    #contacto .cols .col.formulario .form .solid-form .elem {
      margin-bottom: 10px; }
      #contacto .cols .col.formulario .form .solid-form .elem .field {
        background-color: #fff;
        border: 0;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background-clip: padding-box;
        padding: 10px;
        width: 100%;
        border: 2px solid #fff;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
      #contacto .cols .col.formulario .form .solid-form .elem .field:focus {
        border-color: #f79e20;
        -ms-transform: scale(1.05, 1.05);
        -webkit-transform: scale(1.05, 1.05);
        transform: scale(1.05, 1.05); }

.video-modal {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4000; }
  .video-modal .cerrar {
    position: fixed;
    top: 7px;
    right: 13px;
    color: #fff;
    z-index: 4003;
    padding: 7px; }
  .video-modal .bg {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4001;
    background: rgba(0, 0, 0, 0.8); }
  .video-modal .cuadro {
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-clip: padding-box;
    position: fixed;
    z-index: 4002;
    top: 50px;
    left: 50%;
    width: 70%;
    margin-left: -35%; }
    .video-modal .cuadro .cont {
      position: relative; }
      .video-modal .cuadro .cont iframe {
        width: 100%;
        height: calc(100vh - 100px); }
