/* .container-with-floated-children {
 	@extend %clearfix;
} */
/*
input,  
textarea {  
    @include input-placeholder {
        color: $grey;
    }
}
*/
/*@mixin scale($args) {
    -ms-transform: scale($args);
    -webkit-transform: scale($args);
    transform: scale($args);
}*/
/* EJEMPLO:
.sidebar {
	width: 60%;
	float: left;
	margin: 0 2% 0 0;
	@include bp-small {
		width: 100%;
		float: none;
		margin: 0;
	}
}
*/
/*
@include keyframes(slide-down) {
	0% { opacity: 1; }
	90% { opacity: 0; }
}
.element {
	width: 100px;
	height: 100px;
	background: black;
	@include animation('slide-down 5s 3');
}
*/
/* EJEMPLO:
a {
  color: gray;
  @include transition(color .3s ease);
  &:hover {
    color: black;
  }
}
transition: <property> || <duration> || <timing-function> || <delay> [, ...];

Note that the duration must come before the delay if the latter is specified. Individual transitions combined in shorthand declarations:

-webkit-transition: height 0.3s ease-out, opacity 0.3s ease 0.5s;
-moz-transition: height 0.3s ease-out, opacity 0.3s ease 0.5s;
-ms-transition: height 0.3s ease-out, opacity 0.3s ease 0.5s;
-o-transition: height 0.3s ease-out, opacity 0.3s ease 0.5s;
transition: height 0.3s ease-out, opacity 0.3s ease 0.5s;
*/
/*LOGIN PAGE*/
.login-page img.logo {
  max-width: 160px;
  display: block;
  margin: 0 auto 40px; }

.login-page .ult .ingresar-cont {
  position: relative;
  z-index: 2; }

.login-page .ult .checkbox {
  position: relative;
  z-index: 1; }

.login-page .validation-summary-errors {
  color: red;
  border: 1px solid red;
  padding: 10px; }

.login-page .validation-summary-errors ul {
  margin: 0;
  padding: 0 0 0 15px; }

.login-page .validation-summary-errors li {
  padding-left: 2px;
  font-size: 12px;
  line-height: 14px; }

.submit-cont {
  position: relative;
  z-index: 1; }
