@import "mixins.scss";
@import "_variables.scss";

/*LOGIN PAGE*/
.login-page img.logo {
    max-width: 160px;
    display: block;
    margin: 0 auto 40px;
}
.login-page .ult {

}
.login-page .ult .ingresar-cont {
    position: relative;
    z-index: 2;
}
.login-page .ult .checkbox {
    position: relative;
    z-index: 1;
}
.login-page .validation-summary-errors {
    color: red;
    border: 1px solid red;
    padding: 10px;
}
.login-page .validation-summary-errors ul {
    margin: 0;
    padding: 0 0 0 15px;
}
.login-page .validation-summary-errors li {
    padding-left: 2px;
    font-size: 12px;
    line-height: 14px;
}

.submit-cont {
    position: relative;
    z-index: 1;
}