
@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('slick.eot');
    src: url('slick.eot?#iefix') format('embedded-opentype'), url('slick.woff') format('woff'), url('slick.ttf') format('truetype'), url('slick.svg#slick') format('svg');
}

@font-face {
	font-family: 'CenturyGothic-italic';
	src: url('GOTHICI.eot');
	src: url('GOTHICI.eot?#iefix') format('embedded-opentype'),
			 url('GOTHICI.woff') format('woff'),
			 url('GOTHICI.ttf') format('truetype'),
			 url('GOTHICI.svg#gothicb') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CenturyGothic-Bold';
	src: url('gothicb.eot');
	src: url('gothicb.eot?#iefix') format('embedded-opentype'),
			 url('gothicb.woff') format('woff'),
			 url('gothicb.ttf') format('truetype'),
			 url('gothicb.svg#gothicb') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CenturyGothic';
	src: url('gothic.eot');
	src: url('gothic.eot?#iefix') format('embedded-opentype'),
			 url('gothic.woff') format('woff'),
			 url('gothic.ttf') format('truetype'),
			 url('gothic.svg#gothic') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* 
@font-face {
	font-family: 'gothic';
	src: url('gothic.eot');
	src: local('gothic'), url('gothic.woff') format('woff'), url('gothic.ttf') format('truetype');
} */
/*
@font-face {
	font-family: 'Klavika';
	src: url('Klavika-Regular.eot');
	src: url('Klavika-Regular.eot?#iefix') format('embedded-opentype'),
		url('Klavika-Regular.woff') format('woff'),
		url('Klavika-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Klavika';
	src: url('Klavika-Light.eot');
	src: url('Klavika-Light.eot?#iefix') format('embedded-opentype'),
		url('Klavika-Light.woff') format('woff'),
		url('Klavika-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Klavika';
	src: url('Klavika-Bold.eot');
	src: url('Klavika-Bold.eot?#iefix') format('embedded-opentype'),
		url('Klavika-Bold.woff') format('woff'),
		url('Klavika-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Klavika';
	src: url('Klavika-Medium.eot');
	src: url('Klavika-Medium.eot?#iefix') format('embedded-opentype'),
		url('Klavika-Medium.woff') format('woff'),
		url('Klavika-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}*/